.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.err_msg{
    font-size: 80%;
    color: #ef5350;
}

.img_wrap {
  display: inline-block;
  position: relative;
  padding: 0;
  text-align: center;
  border: 1px solid #ddd;
  margin: 10px;
  width: auto;
}

.close {
  position: absolute;
  bottom: 0px;
  right: 0px;
  font-size: 21px;
  background: white;
  color: #000 !important;
  font-weight: 100;
  opacity: 1;
  border: 1px solid #cacad3;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}

.close:hover {
  background: #1976d2;
  color: white !important;
  border-color: #1976d2;
  transition: .3s
}


.cal-day-selected,
      .cal-day-selected:hover {
        background-color: deeppink !important;
}

.error-msg {
  display: block;
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #dc3545;
}

.cal-dis-btn {
  color: #fff;
  background-color: gray;
}


