<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-lg-6">
        <h4 class="table-header">List of Transactions </h4>
      </div>
      <!-- <div class="col-lg-6 text-right">
        <button type="button" class="btn btn-primary custom-add-btn" (click)="open2(content, '')">
          <i class="mdi mdi-account-plus" aria-hidden="true"></i> Add
        </button>
      </div> -->
    </div>
    <div *ngIf="!isCols">
      <div class="p-grid p-dir-col">
        <div class="p-col">
          <div class="box">No Record found for Transactions</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="table table-responsive table-striped datable_custom datable_last_none">
          <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table custom-datatable">
            <thead>
              <tr>
                <th>Booking ID</th>
                <th>Deposit Amount</th>
                <th>Status</th>
                <!-- <th>Coupon Code</th> -->
                <th>Coupon Rate</th>
                <th>Total Amount</th>
                <th>VAT</th>
                <th>From Date</th>
                <th>To Date</th>
                <th class="disabled text-center">Actions</th>
              </tr>
            </thead>
            <tbody *ngIf="transaction?.length != 0 && isCols">
              <tr *ngFor="let item of transaction; let i = index">
                <td>
                  <span>
                    {{ item.booking_number }}
                  </span>
                </td>
                <td>
                  <span>
                    {{ item.deposite_amount }}
                  </span>
                </td>
                <td>
                  <span *ngIf="item.transaction_status === 'inprogress'" class="badge badge-primary">
                    {{ item.transaction_status }}
                  </span>
                  <span *ngIf="item.transaction_status === 'cancelled'" class="badge badge-warning">
                    {{ item.transaction_status }}
                  </span>
                  <span *ngIf="item.transaction_status === 'successfull'" class="badge badge-success">
                    {{ item.transaction_status }}
                  </span>
                  <span *ngIf="item.transaction_status === 'failed'" class="badge badge-danger">
                    {{ item.transaction_status }}
                  </span>
                </td>
                <!-- <td>
                  <span>
                    {{ item.coupon_code ? item.coupon_code : '-' }}
                  </span>
                </td> -->
                <td>
                  <span>
                    {{ item.coupon_percentage ? item.coupon_percentage : '0' }}
                  </span>
                </td>
                <td>
                  <span>
                    {{item.total_booking_amount}}
                  </span>
                </td>
                <td>
                  <span>
                    {{ item.vat ? item.vat : '-'}}
                  </span>
                </td>
                <td>
                  <span>
                    {{ item.from_time | date:"MM/dd/yy"}}
                  </span>
                </td>
                <td>
                  <span>
                    {{ item.to_time | date:"MM/dd/yy"}}
                  </span>
                </td>
                <td class="text-center">
                  <a href="javascript:void(0)" [routerLink]="['/company/transactions/view/',item._id]" pTooltip="View"
                    tooltipPosition="bottom" class="m-r-20">
                    <i class="fa fa-eye text-default"></i>
                  </a>
                  <a [routerLink]="['/company/transactions/invoice/',item._id]" pTooltip="Invoice"
                    tooltipPosition="bottom">
                    <i class="fa fa-file-text-o text-default"></i>
                  </a>
                  <!-- <a *ngIf="(item.transaction_status === 'inprogress') || (item.transaction_status === 'successfull') || (item.transaction_status === 'failed')"
                    href="javascript:void(0)" (click)="cancel(item._id)" pTooltip="Cancel Transaction" tooltipPosition="bottom">
                    <i class="fa fa-ban text-default"></i>
                  </a>
                  <a *ngIf="item.transaction_status === 'cancelled'" href="javascript:void(0)" class="not_allowed" pTooltip="Not Allowed"
                    tooltipPosition="bottom">
                    <i class="fa fa-ban text-default"></i>
                  </a> -->
                </td>
              </tr>
            </tbody>
            <tbody *ngIf="transaction?.length == 0">
              <tr>
                <td colspan="10" class="no-data-available">No record found!</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>