<section id="wrapper">
  <div class="login-register" style="background-image:url(../assets/images/background/login-register.jpg);">        

    <div class="login-box card">
          <div class="card-body">
            <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" class="form-horizontal form-material" id="loginform" action="index.html">

                <div class="form-group">
                    <div class="col-xs-12 text-center">
                      <img class="mt-20 mb-20" height="35px" alt="logo" src="assets/images/ABHR2-side.svg">
                    </div>
                </div>

              <div class="form-group ">
                <div class="col-xs-12">
                  <input class="form-control" type="password" required="" placeholder="Enter new password"
                  name="password" formControlName="password" [ngClass]= "{ 'is-invalid': submitted && f.password.errors }">
                  <div *ngIf=" submitted && f.password.errors " class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                    <div *ngIf="f.password.errors.minlength || f.password.errors.maxlength">Password must be between 6 to 13 characters</div>
                  </div>
                </div>
              </div>

              <div class="form-group ">
                <div class="col-xs-12">
                  <input class="form-control" type="password" required="" placeholder="Confirm new password"
                  name="repeatPassword" formControlName="repeatPassword" [ngClass]= "{ 'is-invalid': submitted && f.repeatPassword.errors }">
                  <div *ngIf=" submitted && f.repeatPassword.errors " class="invalid-feedback">
                    <div *ngIf="f.repeatPassword.errors.required">Repeat password is required</div>
                    <div *ngIf="f.repeatPassword.errors.mustMatch">Passwords must match</div>
                  </div>
                </div>
              </div>

              <div class="form-group text-center">
                <div class="col-xs-12">
                  <button type="submit" class="btn btn-info btn-block text-uppercase waves-effect waves-light">Reset Password</button>
                </div>
              </div>
            </form>
          </div>
        </div>
  </div>
</section>
