<section id="wrapper">
  <div class="login-register" style="background-image:url(../assets/images/background/login-register.jpg);">        
      
    <div *ngIf="message" 
    [ngClass]="{ 'alert': message,
                'alert-success': message.type === 'success', 
                'alert-danger': message.type === 'error' }">
      {{message.text}}
    </div>

    <div class="login-box card">
          <div class="card-body">
            <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" class="form-horizontal form-material" id="loginform" action="index.html">

              <div class="form-group">
                <div class="col-xs-12 text-center">
                  <div class="user-thumb text-center"> <img alt="thumbnail" class="img-circle" width="100" src="../assets/images/users/1.jpg">
                    <h3>Genelia</h3>
                  </div>
                </div>
              </div>

              <div class="form-group ">
                <div class="col-xs-12">
                  <input class="form-control" type="password" required="" placeholder="Enter new password"
                  name="password" formControlName="password" [ngClass]= "{ 'is-invalid': submitted && f.password.errors }">
                  <div *ngIf=" submitted && f.password.errors " class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">password is required</div>
                    <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                  </div>
                </div>
              </div>

              <div class="form-group ">
                <div class="col-xs-12">
                  <input class="form-control" type="password" required="" placeholder="Confirm new password"
                  name="repeatPassword" formControlName="repeatPassword" [ngClass]= "{ 'is-invalid': submitted && f.repeatPassword.errors }">
                  <div *ngIf=" submitted && f.repeatPassword.errors " class="invalid-feedback">
                    <div *ngIf="f.repeatPassword.errors.required">repeat password is required</div>
                    <div *ngIf="f.repeatPassword.errors.mustMatch">Passwords must match</div>
                  </div>
                </div>
              </div>

              <div class="form-group text-center">
                <div class="col-xs-12">
                  <button type="submit" class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light">Reset Password</button>
                </div>
              </div>
            </form>
          </div>
        </div>
  </div>
</section>
