.dropdown-toggle::after {
  display: none;
}
select.ng-untouched.ng-pristine.ng-valid,
select {
  padding: 5px 12px;
  margin-left: 10px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  font-size: 14px !important;
  color: #666;
}
.filter_group {
  margin-left: 37px;
}
button.not_allowed{cursor: not-allowed;}
i.fa.fa-history.text-default {
    color: red;
}