<section id="wrapper">
    <div class="login-register" style="background-image:url(../assets/images/background/login-register.jpg);">        
      
      <div *ngIf="message" 
      [ngClass]="{ 'alert': message,
                  'alert-success': message.type === 'success', 
                  'alert-danger': message.type === 'error' }">
        {{message.text}}
      </div>

      <div class="login-box card">
            <div class="card-body">
              <form [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit()" class="form-horizontal form-material" id="loginform" action="index.html">

                <div class="form-group">
                  <div class="col-xs-12 text-center">
                    <div class="user-thumb text-center"> <img alt="thumbnail" class="img-circle" width="100" src="../assets/images/users/1.jpg">
                      <h3>Genelia</h3>
                    </div>
                  </div>
                </div>
                <div class="form-group ">
                  <div class="col-xs-12">
                    <input class="form-control" type="text" required="" placeholder="Enter your Email" formControlName="email"
                    name="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback" >
                      <div *ngIf=" f.email.errors.required ">email is required</div>
                      <!-- <div *ngIf=" f.email.errors.email"> email must be a valid email address </div> -->
                      <div *ngIf=" f.email.errors.pattern"> email format is wrong </div>
                    </div>
                  </div>
                </div>
                <div class="form-group text-center">
                  <div class="col-xs-12">
                    <button type="submit" class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light">Forgot Password</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
    </div>
</section>