<section id="wrapper">
    <div class="login-register" style="background-image:url(../assets/images/background/login-register.jpg);">        
      
      <p-toast></p-toast>
      
      <div class="login-box card">
            <div class="card-body">
              <form [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit()" class="form-horizontal form-material" id="loginform" action="index.html">

                <div class="form-group">
                  <div class="col-xs-12 text-center">
                    <!-- <div class="user-thumb text-center">  -->
                      <img class="mt-20 mb-20" height="35px" alt="logo" src="assets/images/ABHR2-side.svg">
                      <!-- <h3>Genelia</h3> -->
                    <!-- </div> -->
                  </div>
                </div>
                <div class="form-group ">
                  <div class="col-xs-12">
                    <input class="form-control" type="text" required="" placeholder="Enter Your Email" formControlName="email"
                    name="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback" >
                      <div *ngIf=" f.email.errors.required ">Email is required</div>
                      <!-- <div *ngIf=" f.email.errors.email"> email must be a valid email address </div> -->
                      <div *ngIf=" f.email.errors.pattern"> Email format is wrong </div>
                    </div>
                  </div>
                </div>
                <div class="form-group text-center">
                  <div class="col-xs-12">
                    <button type="submit" class="btn btn-info btn-block text-uppercase waves-effect waves-light">Forgot Password</button>
                  </div>
                </div>
                <div _ngcontent-c5="" class="form-group text-center">
                  <div _ngcontent-c5="" class="col-xs-12">                    
                    <a href="javascript:void(0)" class="btn btn-default text-uppercase btn-block waves-effect waves-light" [routerLink]="['/admin/login']">
                      Back to Login Page</a> 
                  </div>
                </div>
              </form>
            </div>
          </div>
    </div>
</section>