<!--datatable-->
<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-lg-6 col-sm-6 mb-3">
        <h4 class="table-header">List of Cars </h4>
      </div>
      <div class="col-lg-6 col-sm-6 mb-3 text-right">
        <!-- <button type="button" class="btn btn-primary custom-add-btn m-r-10">
          <i class="fa fa-external-link" aria-hidden="true"></i> Export
        </button> -->
        <button type="button" class="btn btn-primary custom-add-btn" [routerLink]="['/company/car/add']">
          <i class="mdi mdi-account-plus" aria-hidden="true"></i> Add
        </button>
      </div>
    </div>
    <div *ngIf="!isCols">
      <div class="p-grid p-dir-col">
        <div class="p-col">
          <div class="box">No Record found for Car,Add your First Car for Rent</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="table table-responsive table-striped datable_custom datable_last_none">
          <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table custom-datatable">
            <thead>
              <tr>
                <th>Car Brand</th>
                <th>Car Model</th>
                <!-- <th> Car Class </th>
                <th> Transmission </th> -->
                <th>Purchased Year</th>
                <th> Price </th>
                <th>Available</th>
                <th class="disabled text-center">Actions</th>
              </tr>
            </thead>
            <tbody *ngIf="users?.length != 0 && isCols">
              <tr *ngFor="let item of users; let i = index">
                <td>
                  <span>
                    {{ item.brand_name }}
                  </span>
                </td>
                <td>
                  <span>
                    {{ item.model_name ? item.model_name:'-' }}
                  </span>
                </td>
                <!-- <td>
                  <span>
                    {{ item.car_class | titlecase}}
                  </span>
                </td>
                <td>
                  <span>
                    {{item.transmission | titlecase}}
                  </span>
                </td> -->
                <td>
                  <span>
                    {{ item.age_of_car}}
                  </span>
                </td>
                <td>
                  <span>
                    AED {{item.rent_price}}
                  </span>
                </td>
                <td>
                  <span>
                    {{ item.is_available?'Yes':'No' }}
                  </span>
                </td>
                <td class="text-center">
                  <a href="javascript:void(0)" [routerLink]="['/company/car/view/',item._id]" pTooltip="View"
                    tooltipPosition="bottom" class="m-r-20">
                    <i class="fa fa-eye text-default"></i>
                  </a>
                  <a href="javascript:void(0)" [routerLink]="['/company/car/edit/',item._id]" pTooltip="Edit"
                    tooltipPosition="bottom" class="m-r-20">
                    <i class="fa fa-pencil text-success"></i>
                  </a>
                  <a href="javascript:void(0)" (click)="delete(item._id)" pTooltip="Delete" tooltipPosition="bottom">
                    <i class="fa fa-close text-danger"></i>
                  </a>
                </td>
              </tr>
            </tbody>
            <tbody *ngIf="users?.length == 0">
              <tr>
                <td colspan="8" class="no-data-available">No record found!</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>