<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <h4 class="table-header">Tax Invoice </h4>
      </div>
      <div class="col-md-6 col-sm-6 text-right">
        <button type="button" value="CPTURE" *ngIf="!isPDF" (click)="captureScreen()"
          class="btn btn-primary custom-add-btn">
          PDF
        </button>
        <button type="button" *ngIf="isPDF" class="btn btn-primary custom-add-btn  loading-btn">
          <i class="fa fa-spinner fa-spin"></i>Loading
        </button>
      </div>
    </div>
    <div style="margin: 0;padding: 0;position: relative;">
      <div *ngIf="InvoiceData" class="tax-invoice">
        <table id="Capture_invoice" class="" cellspacing="0" cellpadding="0" border="0">
          <thead>
            <tr class="logo">
              <td>
                <table cellspacing="0" cellpadding="0" border="0">
                  <thead>
                    <tr>
                      <th>
                        <a>
                          <img src="assets/images/ABHR2-05.png" alt="ABHR.png" />
                        </a>
                      </th>
                    </tr>
                  </thead>
                </table>
              </td>
            </tr>
            <tr class="heading">
              <td>
                <div>
                  <table cellspacing="0" cellpadding="0">
                    <tr>
                      <td>
                        <a>
                          <img style="padding:0;margin:0;vertical-align: middle;margin-right: 18px;"
                            src="assets/images/tex.png" alt="Report.png" />
                          Tax Invoice
                        </a>
                      </td>
                    </tr>
                  </table>
                </div>
              </td>
            </tr>
            <tr class="address-line">
              <td>
                <table cellspacing="0" cellpadding="0">
                  <tbody>
                    <tr>
                      <td>
                        <p>
                          Office No. 13, ADNEC, Abu Dhabi, UAE.<br>
                          <!-- 17C-5, Barsha Heights, Dubai, UAE -->
                        </p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr class="bill-to">
              <td>
                <table cellspacing="0" cellpadding="0">
                  <tbody>
                    <tr>
                      <td class="bill-address">
                        <table cellspacing="0" cellpadding="0">
                          <tbody>
                            <tr>
                              <td>
                                Bill to</td>
                            </tr>
                            <tr>
                              <td>
                                {{InvoiceData.user_name | titlecase}}<br>
                                <!-- shadi al saigh<br> -->
                                {{InvoiceData.user_phone_number}}<br>
                                {{InvoiceData.delivery_address}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                      <td class="bill-invoice">
                        <table cellspacing="0" cellpadding="0">
                          <tbody>
                            <tr>
                              <td>
                                Date</td>
                              <td>
                                Invoice No.</td>
                            </tr>
                            <tr>
                              <td>
                                {{today | date}}</td>
                              <td>
                                VDM 0041</td>
                            </tr>
                            <tr>
                              <td colspan="2">
                                Our TRN No.</td>
                            </tr>
                            <tr>
                              <td colspan="2">
                                <!-- {{InvoiceData._id}}  -->
                                XXXXX
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr class="description-row">
              <td>
                <table cellspacing="0" cellpadding="0">
                  <thead>
                    <tr>
                      <th>
                        Description</th>
                      <th>
                        Rate</th>
                      <th>
                        Amount</th>
                    </tr>
                  </thead>
                  <tbody>




                    <tr *ngIf="InvoiceData.extended_days === null">
                      <td>
                        <p>
                          {{InvoiceData.car_model}} {{InvoiceData.release_year}} </p>
                        <p>
                          {{InvoiceData.class | titlecase}} class, {{InvoiceData.car_milage | titlecase}} MIllage</p>
                      </td>
                      <td>
                        {{InvoiceData.booking_amount }} </td>
                      <td>
                        {{InvoiceData.booking_amount }} </td>
                    </tr>






                    <tr *ngIf="InvoiceData.extended_days !== null">
                      <td>
                        <p>
                          {{InvoiceData.car_model}} {{InvoiceData.release_year}} </p>
                        <p>
                          {{InvoiceData.class | titlecase}} class, {{InvoiceData.car_milage | titlecase}} MIllage</p>

                        <br>

                        <p>
                          Extended Booking Detail </p>
                      </td>
                      <td>
                        <p>
                          {{InvoiceData.booking_amount}}</p>
                        <br>
                        <p>
                          {{InvoiceData.extend_booking_amount}}</p>

                      </td>
                      <td>
                        <p>
                          {{InvoiceData.booking_amount}}</p>
                        <br>
                        <p>
                          {{InvoiceData.extend_booking_amount}}</p>

                      </td>
                    </tr>





                    <tr class="footer-row" *ngIf="InvoiceData.extended_days === null">
                      <td>
                        Vat {{InvoiceData.vat}}%</td>
                      <td>
                        {{InvoiceData.vat_amount }} </td>
                      <td>
                        {{InvoiceData.vat_amount }} </td>
                    </tr>




                    <tr class="footer-row" *ngIf="InvoiceData.extended_days !== null">
                      <td>
                        Vat {{InvoiceData.vat}}%</td>
                      <td>
                        {{InvoiceData.extend_vat_amount}} </td>
                      <td>
                        {{InvoiceData.extend_vat_amount}} </td>
                    </tr>



                  </tbody>
                </table>
              </td>
            </tr>

            <tr class="total-row">
              <td>
                <table cellspacing="0" cellpadding="0">
                  <tbody>
                    <tr>
                      <td>
                        <p>
                          Please make Cheque or fund transfer to virtual Dusk media solution LLC</p>
                      </td>
                      <td>
                        TOTAL&nbsp;&nbsp; AED {{InvoiceData.AED}}</td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr class="bank-details">
              <td>
                <table cellspacing="0" cellpadding="0">
                  <tbody>
                    <tr>
                      <td>
                        <p>
                          Our Bank Details are</p>
                        <p>
                          Account Name: </p>
                        <p>
                          Account No: </p>
                        <p>
                          Bank Branch: </p>
                        <p>
                          IBan: </p>
                        <p>
                          Swift Code: </p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr class="contact-details">
              <td>
                <table cellspacing="0" cellpadding="0">
                  <thead>
                    <tr>
                      <th>
                        Phone</th>
                      <th>
                        Email</th>
                      <th>
                        Website</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        {{InvoiceData.phone_number}} </td>
                      <td>
                        {{InvoiceData.email}} </td>
                      <td>
                        www.myabhr.com</td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>

            <tr class="help-row">
              <td>
                <div>
                  <table cellspacing="0" cellpadding="0">
                    <tr>
                      <td>
                        <p>
                          Please be sure to get in touch with us via chat or on {{InvoiceData.phone_number}} if you need
                          any help!</p>
                      </td>
                    </tr>
                  </table>
                </div>
              </td>
            </tr>
            <tr class="table-footer">
              <td>
                <div>
                  <table cellspacing="0" cellpadding="0">
                    <tbody>
                      <tr>
                        <td>
                          <a>
                            <img src="assets/images/ic-1.png" alt="Facebook.png">
                          </a>
                          <a>
                            <img src="assets/images/ic-2.png" alt="Instagram.png">
                          </a>
                          <a>
                            <img src="assets/images/ic-3.png" alt="Twitter.png">
                          </a>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <p>
                            You are receiving this email as tony.naief@gmail.com is registered on ABHR.if you wish to
                            unsubscribe, Click here.</p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </td>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
</div>