.required:after {
    content: " *";
    color: #F44336;
}

.sidebar-nav>ul>li>a i {
    font-size: 19px !important;
    width: 27px !important;
}

.sidebar-nav ul li ul li a {
    padding: 7px 35px 7px 25px;
}

.sidebar-nav .has-arrow::after {
    top: 18px !important;
}

.sidebar-nav>ul>li>a {
    border-left: 3px solid transparent;
    height: 44px;
}

.sidebar-nav>ul>li.active>a {
    border-left: 3px solid #1976d2;
}

.sidebar-nav ul li a.active,
.sidebar-nav ul li a.router-link-active {
    font-weight: 600 !important;
}

.custom-add-btn {
    padding: 7px 12px !important;
    font-size: 13px !important;
}

table.dataTable tbody td {
    vertical-align: middle !important;
    padding: 12px 20px !important;
}

.dataTables_filter label,
.dataTables_length label {
    letter-spacing: 0.05em !important;
}

.dataTables_filter input:focus,
.dataTables_length select:focus {
    outline: none;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#1976d2), to(#1976d2)), -webkit-gradient(linear, left top, left bottom, from(#b1b8bb), to(#b1b8bb));
    background-image: -webkit-linear-gradient(#1976d2, #1976d2), -webkit-linear-gradient(#b1b8bb, #b1b8bb);
    background-image: -o-linear-gradient(#1976d2, #1976d2), -o-linear-gradient(#b1b8bb, #b1b8bb);
    background-image: linear-gradient(#1976d2, #1976d2), linear-gradient(#b1b8bb, #b1b8bb);
    background-size: 100% 2px, 100% 1px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.dataTables_filter input,
.dataTables_length select {
    border: 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#1976d2), to(#1976d2)), -webkit-gradient(linear, left top, left bottom, from(#b1b8bb), to(#b1b8bb));
    background-image: -webkit-linear-gradient(#1976d2, #1976d2), -webkit-linear-gradient(#b1b8bb, #b1b8bb);
    background-image: -o-linear-gradient(#1976d2, #1976d2), -o-linear-gradient(#b1b8bb, #b1b8bb);
    background-image: linear-gradient(#1976d2, #1976d2), linear-gradient(#b1b8bb, #b1b8bb);
    background-size: 0 2px, 100% 1px;
    background-repeat: no-repeat;
    background-position: center bottom, center calc(100% - 1px);
    background-color: transparent;
    -webkit-transition: background 0s ease-out;
    -o-transition: background 0s ease-out;
    transition: background 0s ease-out;
    float: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    margin-left: 10px;
}

.stylish-table tbody tr {
    border-left: 4px solid #ffffff;
}

.sidebar-nav {
    padding: 0px !important
}

.page-wrapper{ height: inherit !important; }
.agents-dtl-box{ max-width:100% !important; margin:0 15px 0 15px; }