<div class="card">
    <div class="card-body">
        <form [formGroup]="SettingForm" (ngSubmit)="onSubmit()" (keydown.enter)="$event.preventDefault()">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="required"> Name :</label>
                        <input class="form-control" placeholder="Enter Firstname " type="text" name="name"
                            formControlName="name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                        <div *ngIf=" submitted && f.name.errors " class="invalid-feedback">
                            <div *ngIf="f.name.errors.required"> Name is required</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 ">
                    <div class="form-group">
                        <label class="required">Site URL :</label>
                        <input class="form-control" type="text" required="" placeholder="Enter URL" formControlName="site_url"
                            name="site_url" [ngClass]="{ 'is-invalid': submitted && f.site_url.errors }">
                        <div *ngIf="submitted && f.site_url.errors" class="invalid-feedback">
                            <div *ngIf=" f.site_url.errors.required ">URL is required</div>
                            <div *ngIf=" f.site_url.errors.pattern"> URL is wrong </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="required"> Email :</label>
                        <input class="form-control" placeholder="Enter Email " type="text" formControlName="email" name="email"
                            [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf=" f.email.errors.required ">Email is required</div>
                            <div *ngIf=" f.email.errors.pattern"> Email format is wrong </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label> Phone Number :</label>
                        <input class="form-control" placeholder="Enter Phone Number " type="string" name="phone_number"
                            formControlName="phone_number" [ngClass]="{ 'is-invalid': submitted && f.phone_number.errors }">
                        <div *ngIf=" submitted && f.phone_number.errors " class="invalid-feedback">
                            <div *ngIf="f.phone_number.errors.pattern">Phone number is wrong</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <button type="submit" *ngIf="!isLoading" class="btn waves-effect waves-light custom-btn btn-primary">Submit</button>
                    <button type="button" *ngIf="isLoading" class="btn waves-effect loading-btn waves-light btn-primary"
                        type="button">
                        <i class="fa fa-spinner fa-spin"></i>Loading
                    </button>
                    <a class="btn waves-effect waves-light custom-btn btn-danger" [routerLink]="['/company/dashboard']">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>