<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body card_cstm">
        <form [formGroup]="form" (ngSubmit)="onSubmit()" (keydown.enter)="$event.preventDefault()">
          <div class="form-group">
            <div class="row">
              <div class="col-md-2">
                <div class="terms-detail-box"><label>About Us : </label></div>
              </div>
              <div class="col-md-10">
                <p-editor formControlName="about_us" name="about_us" type="text" [style]="{'height':'200px'}"
                  [(ngModel)]="about_usText">
                </p-editor>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-md-2">
                <div class="terms-detail-box"><label>Copyright : </label></div>
              </div>
              <div class="col-md-10">
                <p-editor formControlName="copyright" name="copyright" type="text" [style]="{'height':'200px'}"
                  [(ngModel)]="copyrightText">
                </p-editor>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-md-2">
                <div class="terms-detail-box"><label>Terms and Insurance : </label></div>
              </div>
              <div class="col-md-10">
                <p-editor formControlName="term_condition" name="term_condition" type="text"
                  [style]="{'height':'200px'}" [(ngModel)]="term_conditionText"></p-editor>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-md-2">
                <div class="terms-detail-box"><label>Privacy Policy : </label></div>
              </div>
              <div class="col-md-10">
                <p-editor formControlName="privacy_policy" name="privacy_policy" type="text"
                  [style]="{'height':'200px'}" [(ngModel)]="privacy_policyText"></p-editor>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 text-right">
              <button type="submit" *ngIf="!isLoading"
                class="btn waves-effect waves-light custom-btn btn-primary">Submit</button>
              <button type="button" *ngIf="isLoading" class="btn waves-effect loading-btn waves-light btn-primary"
                type="button">
                <i class="fa fa-spinner fa-spin"></i>Loading
              </button>
              <a class="btn waves-effect waves-light custom-btn btn-danger"
                [routerLink]="['/admin/dashboard']">Cancel</a>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>