.terms-detail-box2 {
    padding: 10px 12px 203px 27px;
    background-color: #f4f4f4;
    margin-right: -30px;
    border-left: 1px solid #c8c8c8;
    border-top: 1px solid #c8c8c8;
    border-bottom: 1px solid #c8c8c8;
}