<!-- Row -->
<div class="row">
    <div class="col-lg-9 col-xlg-9">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-wrap">
                    <div>
                        <h4 class="card-title">Sales based on year</h4>
                        <h6 class="card-subtitle">Overview of Monthly analytics</h6>
                    </div>
                    <div class="ml-auto align-self-center">
                        <ul class="list-inline m-b-0">
                            <li>
                                <h6 class="text-muted text-success"><i class="fa fa-circle font-10 m-r-10 "></i>
                                    Total Rentals
                                </h6>
                            </li>
                            <li>
                                <h6 class="text-muted text-info"><i class="fa fa-circle font-10 m-r-10"></i>
                                    Total Transaction
                                </h6>
                            </li>
                        </ul>
                    </div>
                </div>

                <div style="height:300px;" *ngIf="!noRecord" class="chartAreaWrapper">
                    <div class="canvas-fixed-width">
                        <canvas baseChart height="300" [datasets]="lineChartData2" [labels]="lineChartLabels2"
                            [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend2"
                            [chartType]="lineChartType">
                        </canvas>
                    </div>
                </div>






                <div style="height:300px;" *ngIf="noRecord" class="chartAreaWrapper no-retal-box">
                    <div class="canvas-fixed-width">
                        <div class="no-retal-panel">
                            <div class="ui-g">
                                <div class="ui-g-12">No car rented yet!</div>
                            </div>
                        </div>
                        <canvas baseChart height="300" [datasets]="lineChartData2" [labels]="lineChartLabels2"
                            [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend2"
                            [chartType]="lineChartType">
                        </canvas>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"> Rental companies</h4>
                <div class="d-flex">
                    <div class="align-self-center">
                        <h4 class="font-medium m-b-0">
                            {{totalCompanies}}</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Cars</h4>
                <div class="d-flex">
                    <div class="align-self-center">
                        <h4 class="font-medium m-b-0">
                            {{totalCars}} </h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Rentals</h4>
                <div class="d-flex">
                    <div class="align-self-center">
                        <h4 class="font-medium m-b-0">
                            {{totalRentals}} </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>