<!-- Row -->
<div class="row">
    <div class="col-lg-9 col-xlg-9">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-wrap">
                    <div>
                        <h4 class="card-title">Sales based on year</h4>
                        <h6 class="card-subtitle">Overview of Monthly analytics</h6>
                    </div>
                </div>

                <div style="height:300px;">
                    <canvas baseChart height="130" [datasets]="lineChartData2" [labels]="lineChartLabels2"
                        [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend2"
                        [chartType]="lineChartType">
                    </canvas>
                </div>

            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"> Rental companies</h4>
                <div class="d-flex">
                    <div class="align-self-center">
                        <h4 class="font-medium m-b-0">
                            {{totalCompanies}}</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Cars</h4>
                <div class="d-flex">
                    <div class="align-self-center">
                        <h4 class="font-medium m-b-0">
                            {{totalCars}} </h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Rentals</h4>
                <div class="d-flex">
                    <div class="align-self-center">
                        <h4 class="font-medium m-b-0">
                            {{totalRentals}} </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>