button.btn.btn-primary.custom-add-btn {
    font-size: 13px;
}

label {
    font-size: 13px;
    letter-spacing: .08em;
    color: #333;
    text-transform: capitalize;
    margin: 0 0 5px;
}

span.cancellation_policy {
    font-weight: 400;
    color: #1976d2;
    margin-right: 10px;
}
