<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-lg-6 mb-0">
        <h4 class="table-header operation-header">List of Returning Cars </h4>
      </div>
    </div>
    <div *ngIf="!isCols">
      <div class="p-grid p-dir-col">
        <div class="p-col">
          <div class="box">No record found for Returning Cars</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="table table-responsive table-striped datable_custom datable_last_none">
          <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table custom-datatable">
            <thead>
              <tr>
                <th>Booking Number</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Model Name</th>
                <th>Brand Name</th>
                <th>Status</th>
                <th>From Date</th>
                <th>To Date</th>
                <th class="disabled text-center">Actions</th>
              </tr>
            </thead>
            <tbody *ngIf="carData?.length != 0 && isCols">
              <tr *ngFor="let item of carData; let i = index">
                <td>
                  <span>
                    {{ item.booking_number }}
                  </span>
                </td>
                <td>
                  <span>
                    {{ item.agent_first_name }}
                  </span>
                </td>
                <td>
                  <span>
                    {{ item.agent_last_name }}
                  </span>
                </td>
                <td>
                  <span>
                    {{ item.model_name }}
                  </span>
                </td>
                <td>
                  <span>
                    {{ item.brand_name }}
                  </span>
                </td>
                <td>
                  <span *ngIf="item.trip_status === 'finished'">
                    <!-- {{ item.trip_status}} -->
                    Returned
                  </span>
                  <span *ngIf="item.trip_status === 'returning'">
                    <!-- {{ item.trip_status}} -->
                    Returning
                  </span>
                </td>
                <td>
                  <span>
                    {{ item.from_time | date:"MM/dd/yy" }}
                  </span>
                </td>
                <td>
                  <span>
                    {{ item.to_time | date:"MM/dd/yy" }}
                  </span>
                </td>
                <td class="text-center">
                  <!-- <a href="javascript:void(0)" data-toggle="tooltip" data-original-title="View"
                    [routerLink]="['/admin/operations/car-returning/view/',item._id]">
                    <i class="fa fa-eye text-default"></i>
                  </a> -->
                  <a *ngIf="item.trip_status === 'finished'" pTooltip="Track car" tooltipPosition="bottom"
                    [routerLink]="['/admin/operations/car-returning/returned/view/',item._id]">
                    <i class="fa fa-eye text-default"></i>
                  </a>
                  <a *ngIf="item.trip_status === 'returning'" pTooltip="Track car" tooltipPosition="bottom"
                    [routerLink]="['/admin/operations/car-returning/view/',item._id]">
                    <i class="fa fa-eye text-default"></i>
                  </a>
                </td>
              </tr>
            </tbody>
            <tbody *ngIf="carData?.length == 0">
              <tr>
                <td colspan="9" class="no-data-available">No record found!</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>