.right_top_image {
  height: 100px;
  position: absolute;
  right: -10px;
  top: -15px;
}

.license_image {
  height: 150px;
}

#prfl-img{
  margin-right: 10px;
}

.mb-15{
  margin-bottom: 15px;
}

button.btn.btn-primary.custom-add-btn.green-btn {
    background: #28a745 !important;
    border: 1px solid #28a745 !important;
    cursor: not-allowed;
}