<section id="wrapper">
  <div class="login-register" style="background-image:url(../assets/images/background/login-register.jpg);">

    <div class="login-box card">
      <div class="card-body">
        <div class="col-xs-12 text-center">
          <img class="mt-20 mb-20" height="35px" alt="logo" src="assets/images/ABHR2-side.svg">
        </div>
        <div class="col-xs-12 text-center confirm-pass-text">
          Your Password is successfully Changed
        </div>
      </div>
    </div>
  </div>
</section>