<!--details-->
<div class="card card_one_data">
  <div class="card-body">
    <div class="row pb-2 headding-btn-wrap">
      <div class="col-lg-8 col-md-8">
        <h4> Details of {{userDetails?.name}} </h4>
      </div>
      <div class="col-lg-4 col-md-4 text-right">
        <button type="button" class="btn btn-primary custom-add-btn" (click)="open2(content, userDetails)">
          <i class="mdi mdi-account-edit" aria-hidden="true"></i> Edit
        </button>
      </div>
    </div>
    <div class="row">
      <div class="agents-dtl-box" *ngIf="userDetails">
        <div class="agents-dtl-box-inr cars-dtl-box-inr">
          <b>Company Name : </b>
          <span>{{userDetails.name}}</span>
        </div>
        <div class="agents-dtl-box-inr cars-dtl-box-inr">
          <b>Description : </b>
          <span>{{userDetails.description}}</span>
        </div>
        <div class="agents-dtl-box-inr cars-dtl-box-inr">
          <b>Email : </b>
          <span>{{ userDetails.email }}</span>
        </div>
        <div class="agents-dtl-box-inr cars-dtl-box-inr">
          <b>Site URL : </b>
          <span>{{ userDetails.site_url }}</span>
        </div>
        <div class="agents-dtl-box-inr cars-dtl-box-inr">
          <b>Address : </b>
          <span>{{ userDetails.company_address.address}}</span>
        </div>
        <div class="agents-dtl-box-inr cars-dtl-box-inr">
          <b>City : </b>
          <span>{{ userDetails.company_address.city ? userDetails.company_address.city : '-' }}</span>
        </div>
        <div class="agents-dtl-box-inr cars-dtl-box-inr">
          <b>Country : </b>
          <span>{{ userDetails.company_address.country ? userDetails.company_address.country : '-' }}</span>
        </div>
        <div class="agents-dtl-box-inr cars-dtl-box-inr">
          <b>State : </b>
          <span>{{ userDetails.company_address.state ? userDetails.company_address.state : '-' }}</span>
        </div>
        <div class="agents-dtl-box-inr cars-dtl-box-inr">
          <b>Phone Number : </b>
          <span *ngIf="userDetails.phone_number">
            +{{ userDetails.country_code }} {{ userDetails.phone_number }}
          </span>
          <span *ngIf="!userDetails.phone_number">
            -
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Car-datatable-->
<div class="card">
  <div class="card-body">
    <div class="row pb-3">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <h4 class="table-header">List of Cars </h4>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 text-right">
        <button type="button" class="btn btn-primary custom-add-btn"
          [routerLink]="['/admin/car-rental-companies/car/add']">
          <i class="mdi mdi-account-plus" aria-hidden="true"></i> Add
        </button>
      </div>
    </div>
    <div *ngIf="!isCols">
      <div class="p-grid p-dir-col">
        <div class="p-col">
          <div class="box">No Record found for Car,Add your First Car for Rent</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="table table-responsive table-striped datable_custom datable_last_none">
          <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table custom-datatable">
            <thead>
              <tr>
                <th>Car Brand</th>
                <th>Car Model</th>
                <!-- <th> Car Class </th>
                <th> Transmission </th> -->
                <th>Purchased Year</th>
                <th> Price </th>
                <th>Available</th>
                <th class="disabled text-center">Actions</th>
              </tr>
            </thead>
            <tbody *ngIf="carData?.length != 0 && isCols">
              <tr *ngFor="let item of carData; let i = index">
                <td>
                  <span>
                    {{ item.brand_name }}
                  </span>
                </td>
                <td>
                  <span>
                    {{ item.model_name ?item.model_name:'-' }}
                  </span>
                </td>
                <!-- <td>
                    <span>
                      {{ item.car_class | titlecase}}
                    </span>
                  </td>
                  <td>
                    <span> 
                      {{item.transmission | titlecase}} 
                    </span>
                  </td> -->
                <td>
                  <span>
                    {{item.age_of_car }}
                  </span>
                </td>
                <td>
                  <span>
                    AED {{item.rent_price}}
                  </span>
                </td>
                <td>
                  <span>
                    {{ item.is_available?'Yes':'No' }}
                  </span>
                </td>
                <td class="text-center">
                  <a href="javascript:void(0)" pTooltip="View" tooltipPosition="bottom" class="m-r-20"
                    [routerLink]="['/admin/car-rental-companies/car/view/',item._id]">
                    <i class="fa fa-eye text-default"></i>
                  </a>
                  <a href="javascript:void(0)" [routerLink]="['/admin/car-rental-companies/car/edit/',item._id]"
                    pTooltip="Edit" tooltipPosition="bottom" class="m-r-20">
                    <i class="fa fa-pencil text-success"></i>
                  </a>
                  <a href="javascript:void(0)" (click)="delete(item._id)" pTooltip="Delete" tooltipPosition="bottom">
                    <i class="fa fa-close text-danger"></i>
                  </a>
                </td>
              </tr>
            </tbody>
            <tbody *ngIf="carData?.length == 0">
              <tr>
                <td colspan="8" class="no-data-available">No record found!</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Edit form-->
<div class="row">
  <div class="col-md-6">
    <ng-template #content let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">Edit Company</h4>
        <button type="button" class="close" id="closepopup" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="AddEditForm" (ngSubmit)="onSubmit()" class="form-horizontal form-material row"
          (keydown.enter)="$event.preventDefault()">
          <div class="col-sm-6">
            <div class="form-group">
              <label class="required">Company Name </label>
              <input class="form-control" type="text" required="" name="name" placeholder="Enter Firstname"
                formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
              <div *ngIf=" submitted && f.name.errors " class="invalid-feedback">
                <div *ngIf="f.name.errors.required"> Company Name is required</div>
                <div *ngIf="f.name.errors.uniqueName">Company Name already exist</div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 ">
            <div class="form-group">
              <label class="required">Description </label>
              <input class="form-control" type="text" required="" name="description" placeholder="Enter Lastname"
                formControlName="description" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.description.errors }">
              <div *ngIf=" submitted && f.description.errors " class="invalid-feedback">
                <div *ngIf="f.description.errors.required"> Description is required</div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 ">
            <div class="form-group">
              <label class="required">Email </label>
              <input class="form-control" type="text" required="" placeholder="Enter Email" formControlName="email"
                name="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf=" f.email.errors.required ">Email is required</div>
                <div *ngIf=" f.email.errors.pattern"> Email is wrong </div>
                <div *ngIf="f.email.errors.unique">{{emailErrMsg}}</div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 ">
            <div class="form-group">
              <label class="required">Site URL </label>
              <input class="form-control" type="text" required="" placeholder="Enter URL" formControlName="site_url"
                name="site_url" [ngClass]="{ 'is-invalid': submitted && f.site_url.errors }">
              <div *ngIf="submitted && f.site_url.errors" class="invalid-feedback">
                <div *ngIf=" f.site_url.errors.required ">URL is required</div>
                <div *ngIf=" f.site_url.errors.pattern"> URL is wrong </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label class="required"> Address :</label>
              <ng4geo-autocomplete [userSettings]="userSettings" (componentCallback)="autoCompleteCallback1($event)">
              </ng4geo-autocomplete>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Phone Number </label>
              <div class="cc-dropdown">
                <p-dropdown formControlName="country_code" [options]="countryCode" styleClass="phoneNumber-dropdown"
                  [autoWidth]="false">
                  <ng-template let-item pTemplate="selectedItem">
                    <img [src]="item.label" style="width:16px;vertical-align:middle" />
                    <span style="vertical-align:middle; margin-left: .5em"> {{item.value}} </span>
                  </ng-template>
                  <ng-template let-cc pTemplate="item">
                    <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                      <img [src]="cc.label" style="width:24px;position:absolute;top:1px;left:5px" />
                      <div style="font-size:14px;float:right;margin-top:4px"> {{cc.value}} </div>
                    </div>
                  </ng-template>
                </p-dropdown>
                <input class="form-control" type="string" name="phone_number" placeholder="Enter Phone Number"
                  formControlName="phone_number" class="form-control" (keyup)="keyup($event)"
                  (keypress)="restrictAlphabets($event)"
                  [ngClass]="{ 'is-invalid': (submitted && f.phone_number.errors) || numberErr }">
                <div *ngIf=" submitted && f.phone_number.errors " class="invalid-feedback">
                  <div *ngIf="f.phone_number.errors.pattern">Phone number is wrong</div>
                  <div *ngIf="f.phone_number.errors.unique">{{phoneErrMsg}}</div>
                </div>
                <div *ngIf="numberErr" class="keyup-input-errMsg">
                  Phone number is wrong
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <button type="submit" *ngIf="!isLoading"
              class="btn waves-effect waves-light custom-btn btn-primary">Submit</button>
            <button type="button" *ngIf="isLoading" class="btn waves-effect loading-btn waves-light btn-primary"
              type="button">
              <i class="fa fa-spinner fa-spin"></i>Loading
            </button>
            <a class="btn waves-effect waves-light custom-btn btn-danger" (click)="d('Cross click')">Cancel</a>
          </div>
        </form>
      </div>
    </ng-template>
  </div>
</div>