<!--Alert message-->  
<p-toast></p-toast>

<!--details-->
<div class="card">
  <div class="card-body">
    <div class="row pb-3">
      <div class="col-lg-12 text-right">
          <button type="button" class="btn btn-primary btn-rounded" (click)="open2(content, userDetails)">
              <i class="fa fa-edit" aria-hidden="true"></i> Edit
          </button>
      </div>
    </div>
    <div class="row">
      <div class="agents-dtl-box" *ngIf="userDetails"> 
        <h4 id="blue"> Details of {{userDetails.name}} </h4>
        <div class="agents-dtl-box-inr"><b>Company Name : </b> <span>{{userDetails.name}}</span> </div>
        <div class="agents-dtl-box-inr"><b>Description : </b> <span>{{userDetails.description}}</span> </div>
        <div class="agents-dtl-box-inr"><b>Email : </b> <span>{{ userDetails.email }}</span> </div>
        <div class="agents-dtl-box-inr"><b>Site URL : </b> <span>{{ userDetails.site_url }}</span> </div>
        <div class="agents-dtl-box-inr"><b>Phone Number : </b> <span>{{ userDetails.phone_number ? userDetails.phone_number : '-' }}</span> </div>
      </div>
    </div>
  </div>
</div>

<!--Car-datatable-->
<div class="card">
  <div class="card-body">
    <div class="row pb-3">
      <div class="col-lg-6"><h4 class="table-header">List of Cars </h4></div>
      <div class="col-lg-12 text-right">
        <button type="button" class="btn btn-primary btn-rounded m-r-10">
          <i class="fa fa-external-link" aria-hidden="true"></i> Export
        </button>
        <!-- <button type="button" class="btn btn-primary btn-rounded" [routerLink]="['/admin/car-rental-companies/car/add']">
          <i class="mdi mdi-account-plus" aria-hidden="true"></i> Add
        </button> -->
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="table table-responsive table-striped">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table">
              <thead>
                <tr>
                <th>Id</th>
                <th>Brand Name</th>
                <th>Model Name</th>
                <th>Year</th>
                <th>Available</th>
                <th class="disabled" >Actions</th>
                </tr>
              </thead>
              <tbody *ngIf="carData?.length != 0">
                <tr *ngFor="let item of carData; let i = index">
                  <td>
                    {{i+1}}
                  </td>
                  <td>
                    <span>
                      {{ item.brandDetails.brand_name }}
                    </span>
                  </td>
                  <td>
                    <span>
                      {{ item.modelDetails.model_name }}
                    </span>
                  </td>
                  <td>
                    <span>
                      {{ item.modelDetails.release_year }}
                    </span>
                  </td>
                  <td>
                    <span>
                      {{ item.is_avialable?'Yes':'No' }}
                    </span>
                  </td>
                  <td>
                    <button type="button" class="btn btn-primary btn-rounded" [routerLink]="['/admin/car-rental-companies/car/view/',item._id]">View</button>
                  </td>
                  <!-- <td>
                    <div ngbDropdown class="d-inline-block">
                      <button class="btn btn-primary" id="dropdownBasic1" ngbDropdownToggle></button>
                      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button class="dropdown-item" [routerLink]="['/admin/car-rental-companies/car/view/',item._id]">View</button>
                        <button class="dropdown-item" [routerLink]="['/admin/car-rental-companies/car/edit/',item._id]">Edit</button>
                        <button class="dropdown-item" (click)="delete(item._id)">Delete</button>
                     </div>
                    </div>
                  </td> -->
                </tr>
              </tbody>
              <tbody *ngIf="carData?.length == 0">
                <tr>
                  <td colspan="7" class="no-data-available">No record found!</td>
                </tr>
              </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>
</div> 

<!--Rental-datatable-->
<app-rentals></app-rentals>

<!--Edit form-->
<div class="row">
    <div class="col-md-6">
      <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title">Edit Company</h4>
          <button type="button" class="close" id="closepopup" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="AddEditForm" (ngSubmit)="onSubmit()" class="form-horizontal form-material row">
            <div class="col-sm-6">
              <div class="form-group">
                <label>Company Name :</label>
                <input class="form-control" type="text" required="" name="name" placeholder="Enter Firstname"
                  formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                <div *ngIf=" submitted && f.name.errors " class="invalid-feedback">
                  <div *ngIf="f.name.errors.required"> Company Name is required</div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 ">
              <div class="form-group">
                <label>Description :</label>
                <input class="form-control" type="text" required="" name="description" placeholder="Enter Lastname"
                  formControlName="description" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.description.errors }">
                <div *ngIf=" submitted && f.description.errors " class="invalid-feedback">
                  <div *ngIf="f.description.errors.required"> Description is required</div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 ">
              <div class="form-group">
                <label>Email :</label>
                <input class="form-control" type="text" required="" placeholder="Enter Email" formControlName="email"
                  name="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf=" f.email.errors.required ">Email is required</div>
                  <div *ngIf=" f.email.errors.pattern"> Email format is wrong </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 ">
              <div class="form-group">
                <label>Site URL :</label>
                <input class="form-control" type="text" required="" placeholder="Enter URL" formControlName="site_url"
                  name="site_url" [ngClass]="{ 'is-invalid': submitted && f.site_url.errors }">
                <div *ngIf="submitted && f.site_url.errors" class="invalid-feedback">
                  <div *ngIf=" f.site_url.errors.required ">URL is required</div>
                  <div *ngIf=" f.site_url.errors.pattern"> URL is wrong </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Phone Number :</label>
                <input class="form-control" type="string" name="phone_number" placeholder="Enter Phone Number"
                  formControlName="phone_number" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.phone_number.errors }">
                <div *ngIf=" submitted && f.phone_number.errors " class="invalid-feedback">
                  <div *ngIf="f.phone_number.errors.pattern">Phone number is wrong</div>
                </div>
              </div>
            </div>
            <div class="col-sm-12 text-center">
              <div class="form-group">
                <button type="submit" class="btn waves-effect waves-light custom-btn btn-primary">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </ng-template>
    </div>
  </div>