<div class="card">
  <div class="card-body">
    <div class="cars-dtl-box" *ngIf="transactionDetails">
      <h4 id="blue" class="mt-45"> Transaction Detail </h4>
      <div class="row">
        <div class="col-md-6">
          <div class="cars-dtl-box-inr transaction-dtl-box">
            <b>booking number : </b><span>{{transactionDetails.booking_number}}</span>
          </div>
          <div class="cars-dtl-box-inr transaction-dtl-box">
            <b>from time : </b> <span>{{ transactionDetails.from_time | date:"MM/dd/yy"}}</span>
          </div>
          <div class="cars-dtl-box-inr transaction-dtl-box">
            <b>to time : </b> <span> {{ transactionDetails.to_time | date:"MM/dd/yy" }}</span>
          </div>
          <div class="cars-dtl-box-inr transaction-dtl-box">
            <b>Transaction amount :</b> <span> {{transactionDetails.Transaction_amount}} </span>
          </div>
          <div class="cars-dtl-box-inr transaction-dtl-box">
            <b>deposite amount : </b> <span>{{ transactionDetails.deposite_amount }}</span>
          </div>
          <div class="cars-dtl-box-inr transaction-dtl-box">
            <b>VAT : </b> <span>{{ transactionDetails.VAT ? transactionDetails.VAT : '-' }}</span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="cars-dtl-box-inr transaction-dtl-box">
            <b>status : </b>
            <!-- <span>{{transactionDetails.status}}</span> -->
            <span *ngIf="transactionDetails.status === 'inprogress'" class="badge badge-primary">
              {{ transactionDetails.status }}
            </span>
            <span *ngIf="transactionDetails.status === 'cancelled'" class="badge badge-warning">
              {{ transactionDetails.status }}
            </span>
            <span *ngIf="transactionDetails.status === 'successfull'" class="badge badge-success">
              {{ transactionDetails.status }}
            </span>
            <span *ngIf="transactionDetails.status === 'failed'" class="badge badge-danger">
              {{ transactionDetails.status }}
            </span>
          </div>
          <div class="cars-dtl-box-inr transaction-dtl-box">
            <b>coupon code : </b> <span>{{ transactionDetails.coupon_code ? transactionDetails.coupon_code : '-'}}</span>
          </div>
          <div class="cars-dtl-box-inr transaction-dtl-box">
            <b>coupon rate : </b> <span> {{ transactionDetails.coupon_details ?
              transactionDetails.coupon_details.discount_rate : '-'}}</span>
          </div>
          <div class="cars-dtl-box-inr transaction-dtl-box">
            <b>company name :</b> <span> {{transactionDetails.coupon_code ? transactionDetails.coupon_code : '-'}}
            </span>
          </div>
          <div class="cars-dtl-box-inr transaction-dtl-box">
            <b>company phone number : </b> <span>{{ transactionDetails.car_compnay.phone_number }}</span>
          </div>
          <div class="cars-dtl-box-inr transaction-dtl-box">
            <b>company site url : </b> <span>{{ transactionDetails.car_compnay.site_url }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>