<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-lg-6 col-sm-6 mb-3">
        <h4 class="table-header">List of Keywords </h4>
      </div>
      <div class="col-lg-6 col-sm-6 text-right">
        <!-- <button type="button" class="btn btn-primary custom-add-btn m-r-10">
          <i class="fa fa-external-link" aria-hidden="true"></i> Export
        </button> -->
        <button type="button" class="btn btn-primary custom-add-btn" (click)="open2(content, '')">
          <i class="mdi mdi-account-plus" aria-hidden="true"></i> Add
        </button>
      </div>
      <div class="col-lg-12">
        <div class="table table-responsive table-striped datable_custom">
          <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table custom-datatable">
            <thead>
              <tr>
                <!-- <th>Sr No.</th> -->
                <th style="width:20%">Keyword</th>
                <th style="width:20%">English</th>
                <th style="width:30%">Arabic</th>
                <!-- <th>Device Type</th> -->

                <th style="width:10%" class="disabled text-center">Actions</th>
              </tr>
            </thead>
            <tbody *ngIf="keywords?.length != 0">
              <tr *ngFor="let item of keywords; let i = index">
                <td>
                  <span>
                    {{ item.keyword }}
                  </span>
                </td>
                <td>
                  <span>
                    {{ item.english }}
                  </span>
                </td>
                <td>
                  <span>
                    {{ item.arabic }}
                  </span>
                </td>
                <!-- <td>
                  <span class="badge badge-primary">
                    {{ item.deviceType  | titlecase }}
                  </span>
                </td> -->

                <td class="text-center">

                  <a href="javascript:void(0)" data-toggle="tooltip" data-original-title="Edit"
                    (click)="open2(content, item)"><i class="fa fa-pencil text-success m-r-20"></i></a>
                  <a href="javascript:void(0)" data-toggle="tooltip" data-original-title="Delete"
                    (click)="delete(item._id)">
                    <i class="fa fa-close text-danger"></i> </a>
                  <!-- <div ngbDropdown class="d-inline-block">
                    <button class="btn btn-primary" id="dropdownBasic1" ngbDropdownToggle></button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                      <button class="dropdown-item" [routerLink]="['/admin/agents/view/',item._id]">View</button>
                      <button class="dropdown-item" (click)="open2(content, item)">Edit</button>
                      <button class="dropdown-item" (click)="delete(item._id)">Delete</button>
                    </div>
                  </div> -->
                </td>
              </tr>
            </tbody>
            <tbody *ngIf="keywords?.length == 0">
              <tr>
                <td colspan="8" class="no-data-available">No record found!</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- add-edit form -->
<div class="row">
  <div class="col-md-6">
    <ng-template #content let-c="close" let-d="dismiss">
      <div class="modal-header">
        <ng-container>{{ title }}</ng-container>
        <button type="button" class="close" id="closepopup" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="AddEditForm" (ngSubmit)="onSubmit()" class="form-horizontal form-material row"
          (keydown.enter)="$event.preventDefault()">
          <div class="col-sm-6">
            <div class="form-group">
              <label class="required">Keyword :</label>
              <input class="form-control" type="text" required="" name="keyword" placeholder="Enter Keyword"
                formControlName="keyword" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.keyword.errors }">
              <div *ngIf=" submitted && f.keyword.errors " class="invalid-feedback">
                <div *ngIf="f.keyword.errors.required"> Keyword is required</div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 ">
            <div class="form-group">
              <label class="required">English :</label>
              <input class="form-control" type="text" required="" name="last_name" placeholder="Enter English"
                formControlName="english" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.english.errors }">
              <div *ngIf=" submitted && f.english.errors " class="invalid-feedback">
                <div *ngIf="f.english.errors.required"> English is required</div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 ">
            <div class="form-group">
              <label class="required">Arabic :</label>
              <input class="form-control" type="text" required="" name="last_name" placeholder="Enter Arabic"
                formControlName="arabic" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.arabic.errors }">
              <div *ngIf=" submitted && f.arabic.errors " class="invalid-feedback">
                <div *ngIf="f.arabic.errors.required"> Arabic is required</div>
              </div>
            </div>
          </div>

          <!-- <div class="col-sm-6">
            <div class="form-group">
              <label>Device Type :</label>
              {{ f.deviceType.val }}
                <div class="custom-radio-wrap">
                  <div class="custom-control custom-radio">
                      <input type="radio" id="customRadio1" class="custom-control-input" value="android" name="deviceType" formControlName="deviceType" [ngClass]="{ 'is-invalid': submitted && f.deviceType.errors }">
                      <label class="custom-control-label" for="customRadio1">Android</label>
                  </div>
                  <div class="custom-control custom-radio">
                      <input type="radio" id="customRadio2" class="custom-control-input" value="ios" name="deviceType" formControlName="deviceType" [ngClass]="{ 'is-invalid': submitted && f.deviceType.errors }">
                      <label class="custom-control-label" for="customRadio2">IOS</label>
                  </div>
                </div>
              <div *ngIf="submitted && f.deviceType.errors " class="invalid-feedback">
                <div *ngIf="f.deviceType.errors.required">device type is required</div>
              </div>
            </div>
          </div> -->
          <div class="col-sm-12">
            <button type="submit" *ngIf="!isLoading"
              class="btn waves-effect waves-light custom-btn btn-primary">Submit</button>
            <button type="button" *ngIf="isLoading" class="btn waves-effect loading-btn waves-light btn-primary"
              type="button">
              <i class="fa fa-spinner fa-spin"></i>Loading
            </button>
            <a class="btn waves-effect waves-light custom-btn btn-danger" (click)="d('Cross click')">Cancel</a>
          </div>
        </form>
      </div>
    </ng-template>
  </div>
</div>