<div class="card">
  <div class="card-body">
    <div class="cars-dtl-box" *ngIf="carDetails">
      <h4 id="blue" class="mt-45"> Car Detail Of {{carDetails.car_rental_company_name}} </h4>
      <div class="row">
        <div class="col-md-6">
          <div class="cars-dtl-box-inr">
            <b>brand name : </b><span>{{carDetails.car_brand}}</span>
          </div>
          <div class="cars-dtl-box-inr">
            <b>model name : </b> <span>{{ carDetails.car_model ?carDetails.car_model:'-' }}</span>
          </div>
          <div class="cars-dtl-box-inr">
            <b>relese year : </b> <span> {{ carDetails.car_model_release_year
              ?carDetails.car_model_release_year:'-' }}</span>
          </div>
          <div class="cars-dtl-box-inr">
            <b>Resident Criteria :</b> <span> {{carDetails.resident_criteria}} </span>
          </div>
          <div class="cars-dtl-box-inr">
            <b>licence plate : </b> <span>{{ carDetails.licence_plate }}</span>
          </div>
          <div class="cars-dtl-box-inr">
            <b>rent price : </b> <span>{{ carDetails.rent_price }}</span>
          </div>
          <div class="cars-dtl-box-inr">
            <b>deposit : </b> <span>{{ carDetails.deposit ? carDetails.deposit : '-' }}</span>
          </div>
          <div class="cars-dtl-box-inr">
            <b>driver's age : </b><span>{{carDetails.driving_eligibility_criteria}}</span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="cars-dtl-box-inr">
            <b>No Of Persons : </b> <span>{{carDetails.no_of_person}}</span>
          </div>
          <div class="cars-dtl-box-inr">
            <b>milage : </b> <span>{{ carDetails.milage | titlecase }}</span>
          </div>
          <div class="cars-dtl-box-inr">
            <b>car class : </b><span>{{carDetails.car_class | titlecase }}</span>
          </div>
          <div class="cars-dtl-box-inr">
            <b>car color : </b><span>{{carDetails.car_color| titlecase }}</span>
          </div>
          <div class="cars-dtl-box-inr">
            <b>navigation : </b> <span>{{ carDetails.is_navigation?'Yes':'No' }}</span>
          </div>
          <div class="cars-dtl-box-inr">
            <b>AC : </b><span>{{carDetails.is_AC?'Yes':'No' }}</span>
          </div>
          <div class="cars-dtl-box-inr">
            <b>luggage carrier : </b> <span>{{ carDetails.is_luggage_carrier?'Yes':'No' }}</span>
          </div>
          <!-- <div class="cars-dtl-box-inr">
            <b>avialable : </b> <span>{{ carDetails.is_avialable?'Yes':'No' }}</span>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <div>
      <h4 id="blue"> Car Gallery </h4>
    </div>
    <div class="row" *ngIf="carDetails">
      <div class="col-md-3" *ngFor="let image of carDetails.car_gallery">
        <img [src]="imgUrl+ 'car/' + image.name" class="img-fluid img-rounded" alt="car_jpeg">
      </div>
    </div>
  </div>
</div>


<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-lg-6">
        <h4 class="table-header">List of Rentals </h4>
      </div>
      <div class="col-lg-6 text-right">
        <!-- <button type="button" class="btn btn-primary custom-add-btn">
           <i class="fa fa-external-link" aria-hidden="true"></i> Export
          </button> -->
      </div>
    </div>
    <div *ngIf="!isCols">
      <div class="p-grid p-dir-col">
        <div class="p-col">
          <div class="box">No Record found for Rentals</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="table table-responsive table-striped">
          <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table">
            <thead>
              <tr>
                <th style="width:20%">Contract No.</th>
                <th style="width:30%">Client Name</th>
                <th style="width:10%">Price</th>
                <th style="width:20%">Start Of Rent</th>
                <th style="width:20%">End Of Rent</th>
              </tr>
            </thead>
            <tbody *ngIf="rentalData?.length != 0 && isCols">
              <tr *ngFor="let item of rentalData; let i = index">
                <td>
                  {{ item.booking_number }}
                </td>
                <td>
                  <span>
                    {{ item.userId.first_name | titlecase }}
                  </span>
                </td>
                <td>
                  <span>
                    {{ item.booking_rent }}
                  </span>
                </td>
                <td>
                  <span>
                    {{ item.from_time | date:"MM/dd/yy" }}
                  </span>
                </td>
                <td>
                  <span>
                    {{ item.to_time | date:"MM/dd/yy" }}
                  </span>
                </td>
              </tr>
            </tbody>
            <tbody *ngIf="rentalData?.length == 0">
              <tr>
                <td colspan="8" class="no-data-available">No record found!</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>