/* You can add global styles to this file, and also import other style files */

@import '~perfect-scrollbar/css/perfect-scrollbar.css';

/* @import "../node_modules/angular-calendar/css/angular-calendar.css"; */
.ps .ps__scrollbar-y-rail {left: 3px; right: auto;}
body {color: #67757c; font-weight: 300; font-size: 1rem;}
a{cursor:pointer;}
.sidebar-nav ul li a{padding:8px 30px 8px 15px !important;}
.dataTables_length, .dataTables_filter{ margin:0 0 20px;}
.dataTables_filter label{font-size:14px; color:#666; text-transform: capitalize; font-weight:400; letter-spacing:.1em; margin:0;}
.dataTables_filter input{border: unset; border-bottom: 1px solid #666; color:#666; background: #fff; padding: 5px; line-height: 20px;}
.dataTables_length label{font-size:14px; color: #666; text-transform: capitalize; font-weight:400; letter-spacing:.1em; margin:0; line-height:32px;}
.dataTables_length select{ margin:0 5px; padding:4px 6px; line-height:20px; color:#666;border: unset;border-bottom: 1px solid #666;}
.dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_paginate{ color:#666;}
.dropdown-toggle::after {vertical-align: middle !important;}
.btn-primary, 
.btn-primary.disabled {background: #1976d2 !important; border: 1px solid #1976d2 !important;}

.btn i{ vertical-align:middle; margin-right:4px;}


.modal-dialog {max-width:640px !important;}
.modal-content {border:0 !important; border-radius:0 !important; margin-top: 25%;}
.modal-header{font-size:18px; border-radius:0 !important; text-transform:capitalize; font-weight: 500; letter-spacing: .08em; color:#fff !important; background:#1976d2;}
.form-group label{font-size:13px; letter-spacing:.08em; color:#333; text-transform:capitalize; margin:0 0 5px;}
.form-control{padding:7px 10px 8px 12px !important; font-size:13px !important; letter-spacing:.08em !important; border-radius:0 !important; color:#666 !important;}
.close {color: #fff !important; text-shadow:none !important; opacity:.8 !important;}
.form-control:focus {background-color: #ffffff!important;border-color: #1976d2!important;outline: 0;box-shadow: 0 0 0 0.05rem rgba(25, 118, 210, 0.39)!important;}
.custom-btn{width: 90px; display: inline-block; margin-right: 15px; border: none; padding: 8px 12px;color: #fff !important;}
.loading-btn{ display: inline-block; margin-right: 15px; border: none; padding: 8px 12px;
color: #fff !important;}
.custom-control-label::after,
.custom-control-label::before {top:0 !important;}
.custom-radio-wrap .custom-radio{ display:inline-block; vertical-align:top; margin:0 15px 0 0;}
.custom-control-input:checked ~ .custom-control-label::before,
.custom-radio .custom-control-input:checked ~ .custom-control-label::before {background-color: #1976d2 !important;}
label.custom-control-label{ line-height:16px; color:#666;}
body .ui-dialog .ui-dialog-titlebar {border:0 !important; color: #fff !important; background: #1976d2 !important; font-size: 16px !important; font-weight: 700 !important; text-transform: capitalize !important; letter-spacing: .08em !important;}
body .ui-corner-all {border-radius:0 !important;}
body .ui-corner-top{ border-radius:0 !important;}
.dropdown-item:hover,
.dropdown-item:focus {color: #ffffff !important; background-color: #1976d2 !important;}
.agents-dtl-box {max-width: 50%;display: block;width: 100%; margin:-45px 0 0 15px; }
.agents-dtl-box>div {border: 1px solid #eee;margin: 0 0 5px;display: block;padding: 10px;}
.agents-dtl-box>div b {margin: -10px 20px -10px -10px;background: #f6f6f6;display: inline-block;vertical-align: top;padding: 13px 10px 12px;min-width: 170px;text-align: right;font-size: 13px;color: #666;text-transform: capitalize;letter-spacing: .05em;font-weight: 500;}
.agents-dtl-box span {font-size: 13px; color: #333; font-weight: 400; letter-spacing: .04em;}
.cars-dtl-box { display: block;width: 100%; margin:-45px 0 0 0; }
.cars-dtl-box-inr {border: 1px #eee solid;margin: 0 0 5px;padding: 10px;display: block;}
.cars-dtl-box-inr b{margin: -10px 20px -10px -10px;background: #f6f6f6;display: inline-block;vertical-align: top;padding: 13px 10px 12px;min-width: 170px;text-align: right;font-size: 13px;color: #666;text-transform: capitalize;letter-spacing: .05em;font-weight: 500;}
.cars-dtl-box span {font-size: 13px; 
    /* color: #333;  */
    font-weight: 400; letter-spacing: .04em;}
.ui-confirmdialog.ui-dialog .ui-dialog-content{ border:0 !important }
body .ui-dialog .ui-dialog-footer {border: 0 !important; border-top: 1px solid #eee !important;}
body .ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-icon {color: #fff !important;}
body .ui-dialog .ui-dialog-footer{ text-align:center !important; }
.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus{ box-shadow: none !important;}
.modal-title{ color:#fff; }
.dropdown-menu{ font-size:13px !important;}
input#checkbox-signup { margin-right: 5px;}
div#DataTables_Table_0_paginate {text-transform: capitalize; font-size: 13px;margin-top: 10px;}
.ui-confirmdialog.ui-dialog .ui-dialog-content {padding: 2em 2em !important;}
h4.table-header {color: #5c5c5c;text-transform: capitalize;font-weight: 400;margin-bottom: 30px;}
li.breadcrumb-item {font-weight: 400;}
.ui-confirmdialog-icon{ color: red}
#blue{ color: #5c5c5c;text-transform: capitalize;font-weight: 400;margin-bottom: 20px;}
.ui-toast-top-right {top: 60px !important;}
h4.text-themecolor.m-b-0 {text-transform: capitalize;}
.no-data-available {text-align: center;}
.dataTables_empty {display: none;}
.mt-45{ margin-top: 45px!important;}
.mb-45{ margin-bottom: 45px!important;}
.mt-20{ margin-top: 20px!important;}
.mb-20{ margin-bottom: 20px!important;}
.mb-15{ margin-bottom: 15px!important;}
.mt-15{ margin-top: 15px!important;}
.mb-25{ margin-bottom: 25px!important;}
table.dataTable{ margin:0 auto 25px !important;}
table.dataTable thead th,
table.dataTable thead td,
table.dataTable tbody th { color:#5c5c5c; background: #e9e9eb;}
table.dataTable thead th, 
table.dataTable thead td {padding:.75rem !important; border: 0 !important; font-weight: 500 !important;}
.table table.table.dataTable thead th, 
.table table.table.dataTable tbody td,
.table table.table.dataTable tfoot th{ padding:10px !important; font-size: 14px;}
.table table.table.dataTable tbody td {border:0 !important; vertical-align:middle;      border-top: 1px solid #f3f1f1 !important;  color:#67757c;}
.table-striped tbody tr:nth-of-type(odd) {background: transparent !important;}
.table-striped tbody tr:nth-of-type(even){background: #f2f4f8;}
table.dataTable.no-footer {border-bottom: 0 !important;}
.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {color: #636c72;}
body .dataTables_wrapper .dataTables_paginate {float: right; text-align: right; padding-top: 0 !important; border: 1px solid #ddd; border-radius: 4px; font-size: 13px;}
body .dataTables_wrapper .dataTables_paginate .paginate_button {border:0 !important; display: inline-block;min-width: 1.5em;padding:10px .75rem !important; margin:0 !important;  text-align: center;text-decoration: none !important;cursor: pointer;color: #636c72 !important; border-radius:0 !important;border-right: 1px solid #ddd !important; line-height: 18px !important; min-width:32px !important;}
body .dataTables_wrapper .dataTables_paginate .paginate_button:hover,
body .dataTables_wrapper .dataTables_paginate .paginate_button.current,
body .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover { color:#fff !important; background:#1976d2 !important;}
body .dataTables_wrapper .dataTables_paginate .paginate_button.last {border-right:0 !important; border-radius:0 4px 4px 0 !important;}
body .dataTables_wrapper .dataTables_paginate .paginate_button.first { border-radius:4px 0 0 4px !important;}
body .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover{ background:#fff !important; color:#636c72 !important; }
body .paginate_button.disabled{ opacity:.5 ;}
.dataTables_wrapper .dataTables_info {line-height:38px;}
table.table.dataTable  tbody tr:hover{background:#f2f4f8 !important;}
table.dataTable thead .sorting{ background-image:url(/assets/images/sorting.png) !important;}
table.dataTable thead .sorting_asc{background-image:url(/assets/images/sorting_asc.png) !important;}
table.dataTable thead .sorting_desc{background-image:url(/assets/images/sorting_desc.png) !important;}
.dropdown-menu{ min-width:100px !important;}
.table-responsive {overflow-x: initial !important;}
body table.dataTable thead .disabled{ background-image:none !important}
.blue .topbar .navbar-header{padding:5px 0px 5px 6px;margin-bottom: -1px; margin-top:-1px;  text-align:left !important;}
.blue .topbar .navbar-header .navbar-brand img{width: 180px;}
/* .black-overlay{ background-color:rgb(25, 118, 210,.7) !important;} */
/* .la-ball-spin-clockwise.la-3x{ width:70px !important; height:70px !important;} */

span.hide-menu { padding-left: 15px;}
a#to-recover:hover, 
a#to-recover:focus { color: #1976d2!important }
.login-box{width: 450px !important; 
    /* margin: 110px auto !important; */
}
span.filter_by {color: #5c5c5c; font-weight: 400; }
button.btn.btn-outline-secondary.datepicker_button{ background-color: #e9e9eb;border-color: #ced4da; box-shadow: 0px;box-shadow: initial;}
button.btn.btn-outline-secondary.datepicker_button:hover,
button.btn.btn-outline-secondary.datepicker_button:active,
button.btn.btn-outline-secondary.datepicker_button:focus{background-color: #1976d2!important ;border-color: #1976d2!important;color: white!important; box-shadow: 0 14px 26px -12px rgba(169, 169, 169, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(169, 169, 169, 0.2);}  
.btn-link{color: #1976d2 !important}
.ngb-dp-weekday[_ngcontent-c10], .ngb-dp-week-number[_ngcontent-c10]{font-style: normal !important;}
.btn-light:not(:disabled):not(.disabled):active, 
.btn-light:not(:disabled):not(.disabled).active, 
.show > .btn-light.dropdown-toggle {background-color: #1976d2 !important;border-color: #1976d2 !important;color: #fff !important}
.btn-light:not(:disabled):not(.disabled):hover, 
.btn-light:not(:disabled):not(.disabled).hover, 
.btn-light:not(:disabled):not(.disabled):focus, 
.btn-light:not(:disabled):not(.disabled).focus, 
.show > .btn-light.dropdown-toggle {background-color: #e9e9eb  !important;border-color: #e9e9eb  !important;color: #6c757d !important}
.ngb-dp-weekday[_ngcontent-c19], .ngb-dp-week-number[_ngcontent-c19] {font-style: normal important;}
.navbar-header a.navbar-brand{transition:ease-in-out .5s;}
.mini-sidebar .navbar-header a.navbar-brand{width: 40px;overflow: hidden;}
.box { background-color: #cce4f7; text-align: center; padding-top: 1em; padding-bottom: 1em;border-radius: 4px; color: #333333; }

/*
   server-side-angular-way.component.css
*/
.no-data-available {
  text-align: center;
}

/*
   src/styles.css (i.e. your global style)
*/
.dataTables_empty {
  display: none;
}

.dataTables_wrapper{
    display: none;
}
.dataTables_paginate{
    display: none;
}
.terms-detail-box {padding: 10px 50px 203px 27px;background-color: #f4f4f4;margin-right: -30px;border-left: 1px solid #c8c8c8;border-top: 1px solid #c8c8c8;border-bottom: 1px solid #c8c8c8;}
.card_cstm .form-group .terms-detail-box {padding: 15px 0 0 15px;height: 100%;}
.topbar ul.dropdown-user li .dw-user-box .u-text h4 {font-size: 14px;max-width: 150px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
body .card_one_data .license_image {height: auto;width: auto;margin-right: 10px;max-height: 200px;margin-top: 10px;}
#blue.h4_user_img {margin: 0;width: 100%;position: relative;min-height: 70px;margin-bottom: 10px;padding-left: 90px;padding-top: 5px;}
.card_one_data .cars-dtl-box {margin: 0;}
#blue.h4_user_img img {right: auto;left: 0;top: 0;height: 70px;}

.ui-dialog.ui-widget.ui-widget-content { width:500px; }
.ui-dialog.ui-widget.ui-widget-content .form-material.row { margin:0 auto;}
.ui-dialog.ui-widget.ui-widget-content .ui-dialog-content {padding:15px 5px; border:0; }

.form-group{ position:relative;}
.error-msg:after{content:''; border-bottom:1px solid #ef5350; width:100%; height:1px; position: absolute; top:60px; left:0;} 
.error-msg:before{content:''; border-top:1px solid #ef5350; width:100%; height:1px; position: absolute; top:24px; left:0;} 
.error-msg>div:after,
.error-msg>div:before{content:''; position:absolute; top:25px;left:auto; right:auto; width:1px; height:36px;}
.error-msg>div:before{border-left:1px solid #ef5350; left:0;}
.error-msg>div:after{border-right:1px solid #ef5350; right:0;}
.ui-datepicker table td > a.ui-state-active {color: #ffffff !important;background-color: #007ad9 !important;}
.card_one_data .cars-dtl-box-inr span {padding-left: 5px;display: block;} 

.form_calendar p-calendar span > button {position: absolute;right: 0;top: 0;}
.form_calendar p-calendar span > input {width: 100%;border: 1px solid #ced4da !important;padding: 7px 10px 8px 12px !important;font-size: 13px !important;letter-spacing: .08em !important;border-radius: 0 !important;color: #666 !important;}
.form_calendar p-calendar > span {width: 100%;position: relative;}
.form_calendar p-calendar > span .ui-datepicker:not(.ui-datepicker-inline) .ui-datepicker-next {top: 36px;}
.form_calendar p-calendar > span .ui-datepicker:not(.ui-datepicker-inline) .ui-datepicker-prev {top: 36px;}
.form_calendar p-calendar > span .ui-datepicker:not(.ui-datepicker-inline) .ui-datepicker-title {margin-top: 15px;}
.form_calendar p-calendar > span .ui-datepicker:not(.ui-datepicker-inline) p-footer button {background: #1976d2;border: 0;color: #fff;padding: 4px 10px;border-radius: 4px;font-size: 13px;}
.form_calendar p-calendar > span .ui-datepicker:not(.ui-datepicker-inline) .ui-datepicker-group {background: #fff;padding: 15px 15px 0px 15px; }
.form_calendar p-calendar > span .ui-datepicker:not(.ui-datepicker-inline) {position: fixed !important;top: 50% !important;left: 50% !important;-webkit-transform: translate(-50% , -50%) !important;transform: initial !important;width: 100% !important;display: block !important;max-width: 500px !important;min-width: initial !important;transition: initial !important;bottom: auto !important;right: auto !important;margin-left: -235px !important;margin-top: -200px !important;background-color: #fff !important;border: 0;padding: 0;}
.form_calendar p-calendar > span .ui-datepicker:not(.ui-datepicker-inline):After {position: fixed;left: 0;top: 0;background: rgba(0, 0, 0, 0.15);content: " ";width: 100%;height: 100%;z-index: -1;}
.form_calendar p-calendar > span .ui-datepicker:not(.ui-datepicker-inline) p-footer {background: #fff;width: 100%;display: inline-block;padding: 0px 15px 15px 15px;}
.form_calendar.form_arrow_none p-calendar > span .ui-datepicker:not(.ui-datepicker-inline) .ui-datepicker-prev,
.form_calendar.form_arrow_none p-calendar > span .ui-datepicker:not(.ui-datepicker-inline) .ui-datepicker-next {display: none;}.form_calendar.form_arrow_none p-calendar > span .ui-datepicker:not(.ui-datepicker-inline) .ui-datepicker-title {float: right;margin: 4px 0 0 0;}

.form_calendar .error-msg:after {top: 63px;}
.form_calendar .error-msg>div:after {top: 27px;}
.form_calendar .error-msg>div:before {top: 28px;}
.form_calendar .error-msg:before {top: 27px;}
.form_filter p-calendar > span > input {width: 100%;width: 100%;border: 1px solid #ced4da !important;padding: 7px 10px 8px 12px !important;font-size: 13px !important;letter-spacing: .08em !important;border-radius: 0 !important;color: #666 !important;    padding-right: 45px !important;width: 245px;}
.form_filter p-calendar {position: relative;margin-left: 10px;}
.form_filter p-calendar > span > button {position: absolute;right: 0;top: 0;}
.form_filter p-calendar > span .ng-trigger p-footer button {background: #1976d2;border: 0;color: #fff;padding: 4px 10px;border-radius: 4px;font-size: 13px;}
.img-rounded {max-height: 180px;}
.mini-sidebar .sidebar-nav ul#sidebarnav > li > ul {top: 100%;}
body .page-wrapper {overflow: visible;}
.tooltip_msg {text-transform: capitalize;}
select,
label.custom-control-label,
input.form-control.file_input  {cursor: pointer;}
span.cancellation_policy {font-weight: 400; color: #1976d2; margin-right: 10px;}
.inputswitchStyle {top: 7px;}
a.navbar-brand {cursor: initial;}
.cars-dtl-box-inr.transaction-dtl-box b {min-width: 210px;}
button.not_allowed,
a.not_allowed{cursor: not-allowed !important;opacity: 0.5;}
.description-err-msg {position: absolute;bottom: -20px;width: 100%;margin-top: 0.25rem;font-size: 80%;color: #ef5350;}
p.p_head {margin-bottom: 10px;font-weight: bold;font-size: 20px;}
.row.row_view {padding: 15px;margin: 0;background: #f4f4f4;}
.mb-0{margin-bottom: 0px !important}
i.fa.fa-ban.text-default {color: red;transform: rotate(90deg);}
.keyup-input-errMsg {font-size: 80%;color: #ef5350;}
.row_grey_one label:after {content: " ";position: absolute;right: -15px;top: -1px;width: 15px;height: calc(100% + 2px);background: #f4f4f4;z-index: -1;border-top: 1px solid #ced4da;border-bottom: 1px solid #ced4da;}
.row_grey_one label {width: 100%;background: #f4f4f4;text-align: left;height: 38px;padding-top: 7px;position: relative;z-index: 9;border-top: 1px solid #ced4da;border-bottom: 1px solid #ced4da;border-left: 1px solid #ced4da;padding: 5px 0 0 15px;}
.row_grey_one > div:first-child {padding-right: 0;}
.cars-dtl-box-inr.card_dtl_new .ui-datepicker.ui-datepicker-inline .ui-datepicker-header .ui-datepicker-prev,
.cars-dtl-box-inr.card_dtl_new .ui-datepicker.ui-datepicker-inline .ui-datepicker-header .ui-datepicker-next {display: none;}
.cars-dtl-box-inr.card_dtl_new {display: flex;}
.cars-dtl-box-inr.card_dtl_new  span {width: 100%;}
.cars-dtl-box-inr.card_dtl_new .ui-datepicker {border: initial;}
.dataTables_scrollBody thead tr[role="row"]{ visibility: collapse !important; }
th.disabled {cursor: default !important;}
.card-body .dataTables_wrapper.no-footer .dataTables_scrollBody {border-bottom: 0px solid #111111;}
.datable_custom .dataTables_scrollHeadInner table.table.custom-datatable.no-footer.dataTable {margin-bottom: 0 !important;}
.datable_custom table.dataTable thead .sorting_desc span.sort-icon {background-image: url(/assets/images/sorting_desc.png) !important;}
.datable_custom table.dataTable thead .sorting_asc span.sort-icon {background-image: url(/assets/images/sorting_asc.png) !important;}
.datable_custom span.sort-icon {    background-image: url(/assets/images/sorting.png) !important;width: 20px;height: 20px;display: inline-block;vertical-align: top;margin-left: 5px;}
.datable_custom table.table.custom-datatable.no-footer.dataTable thead tr th {    background-image: none !important;}
.datable_custom.datable_last_none .dataTables_scrollBody table thead tr th:last-child span.sort-icon {display: none;}
span.form_calendar.form_arrow_none.cal_button .ui-button-icon-only .ui-button-icon-left {left: 30% !important;}
button.cal-close {margin: 0px !important;background: #1976d2!important;border: 0px !important;color: white;}
.col-xs-12.text-center.confirm-pass-text {background-color: #1976d2;color: white;border: 1px solid #1976d2;border-radius: 4px;margin-top: 10px;padding: 10px 20px;font-size: 15px;}
p-editor strong {font-weight: bold;}
h5.transaction-dtl-h5 {padding-top: 20px;}
p.text-muted.m-t-30.m-b-30 {color: #455a64!important;font-weight: 400;}
.switch.checked { color: #fff;}
.cars-dtl-box-inr.transaction-dtl-box.report_msg { color: white;background-color: #559de4;border: 1px #eee solid;}
.switch.switch-medium > .switch-pane > span {font-size: 14px !important}.switch.switch-medium {background-color: #5c5c5c;color: white;}
ul.collapse.submenu_sidebar {margin-left: 9px;}
.myWid70 input.hasDatepicker {width: 70%;}
.cars-dtl-box-inr.card_dtl_new{ display: block; flex-direction: row;}
.cars-dtl-box-inr.card_dtl_new b{width: calc(100% + 20px);text-align: center;margin-bottom: 0;   margin-right: -10px;min-width: unset;display: block;}
textarea {resize: auto !important;resize: vertical !important;}
textarea#resolved_message {height: 100px; margin-top: 10px;}
.ql-editor p, .ql-editor ol, .ql-editor ul, .ql-editor pre, .ql-editor blockquote, .ql-editor h1, .ql-editor h2, .ql-editor h3, .ql-editor h4, .ql-editor h5, .ql-editor h6 { margin: inherit!important; padding: inherit!important}
.resolvedReportDialog .ui-dialog .ui-dialog-titlebar-icon span { display: none !important;}
.ui-dropdown-items-wrapper {width: 100% !important;min-width: 130px !important;}
.cc-dropdown{display: flex;width: 100%;    flex-wrap: wrap;}
.cc-dropdown > input.form-control {width: 60%;}
.cc-dropdown p-dropdown {width: 40%;}
.cc-dropdown p-dropdown .ui-dropdown {width: 100% !important;}
i.mdi.mdi-gauge { font-size: 22px !important;}
.phoneNumber-dropdown,
.acc-setting-phoneNumber-dropdown { border: 1px solid #ced4da !important;  border-right: 0px !important;padding-bottom: 1px;}
.acc-setting-phoneNumber-dropdown{width: 110px !important;}
input#acc-setting-phnNum {width: 496px!important;}
p-dropdown .acc-setting-phoneNumber-dropdown .ui-dropdown-label.ui-inputtext {margin-bottom: 0px !important;}
.ui-g div { background-color: #cce4f7;text-align: center;color: #333333;border: 1px solid #e0eefa; padding: 12px 0;}
.no-retal-panel { width: 80% !important;margin-left: 9%;position: absolute;top: 48%;}
.no-retal-box {position: relative;}
.form-group.form-filter {margin-bottom: 0px;}
.m-b-0{margin-bottom: 0px !important;}
body .ui-button:enabled:focus { box-shadow: none !important;}
.form_filter{justify-content: flex-end;}

.login-box{
    margin: 0px !important;
}
.login-register{
    padding: 0px !important;
}
.login-box.card {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* pdf-css */
.tax-invoice table#Capture_invoice {width: 100%;margin: 0 auto;border-spacing: 0;vertical-align: middle;padding: 0;border-left: 1px solid #eee;border-right: 1px solid #eee;font-family: HelveticaNeue,Helvetica,Arial,sans-serif;max-width: 600px;}
.logo td{    padding: 0;margin: 0;vertical-align: middle;}
.logo td table{    width: 100%;padding: 0;margin: 0 auto;border-spacing: 0;vertical-align: middle;background: #000;text-align: center;}
.logo td table th{    text-align: center;padding: 26px 0 28px 0;margin: 0;vertical-align: middle;}
.logo td table th a{    display: block;padding: 0;margin: 0;vertical-align: middle;}
.logo td table th a img{    padding: 0;margin: 0;vertical-align: middle;}
.heading table {width: 100%;padding: 0;}
.heading table td {text-align: center;padding: 20px 0;background: #EFEFF5;margin: 0;vertical-align: middle;}
.heading table td a {display: block;padding: 0;margin: 0;vertical-align: middle;font-family: Montserrat;font-size: 18px;color: rgba(0,0,0,0.90) !important;line-height: 18px;text-decoration: none;text-transform: uppercase;font-weight: 700;}
.heading table td a img {padding: 0;margin: 0;vertical-align: middle;margin-right: 18px;}
.address-line td {padding: 20px;margin: 0;vertical-align: middle;}
.address-line td table {width: 100%;padding: 0;margin: 0 auto;background: #fff;vertical-align: middle;}
.address-line td table td {padding: 0;margin: 0;vertical-align: middle;}
.address-line td table td p {font-family: 'Montserrat';font-size: 14px;color: #4A4A4A;line-height: 19px;font-weight: 600;margin: 0;padding: 0;vertical-align: middle;margin: 0;}
.bill-to td {padding: 0 20px 20px;margin: 0;vertical-align: middle;}
.bill-to td table {width: 100%;padding: 0;margin: 0 auto;background: #fff;vertical-align: middle;}
.bill-to td table td.bill-address {padding: 0;margin: 0;vertical-align: top;}
.bill-to td table .bill-address table {padding: 0;margin: 0;vertical-align: middle;border: 1px solid #979797;width: 275px;height: 177px;}
.bill-to td table .bill-address table td {padding: 12px 15px;margin: 0;vertical-align: middle;font-family: 'Montserrat';font-size: 13px;color: #4A4A4A;line-height: 19px;font-weight: 400;border-bottom: 1px solid #979797;}
.bill-to td td.bill-invoice {padding: 0;margin: 0;vertical-align: top;float: right;}
.bill-to td td.bill-invoice table {padding: 0;margin: 0;vertical-align: middle;border: 1px solid #979797;}
.bill-to td td.bill-invoice table tr td {padding: 12px 15px;margin: 0;vertical-align: middle;font-family: 'Montserrat';font-size: 13px;color: #4A4A4A;line-height: 19px;font-weight: 400;border-bottom: 1px solid #979797;border-right: 1px solid #979797;}
.description-row td {padding: 0px 20px 15px;margin: 0;vertical-align: middle;}
.description-row td table {width: 100%;padding: 0px;margin: 0 auto;background: #fff;vertical-align: middle;border: 1px solid #979797;}
.description-row td table tr th {padding: 12px 15px;margin: 0;vertical-align: middle;font-family: 'Montserrat';font-size: 13px;color: #4A4A4A;line-height: 19px;font-weight: 400;border-bottom: 1px solid #979797;border-right: 1px solid #979797;}
.description-row td table tbody tr td {padding: 12px 15px;margin: 0;vertical-align: top;font-family: 'Montserrat';font-size: 13px;color: #4A4A4A;line-height: 19px;font-weight: 400;border-right: 1px solid #979797;height: 330px;}
.description-row td table tbody tr td p {margin: 0;padding: 0;vertical-align: middle;font-family: 'Montserrat';font-size: 13px;color: #4A4A4A;line-height: 19px;font-weight: 400;}
.description-row td table tbody tr.footer-row td {padding: 12px 15px;margin: 0;vertical-align: middle;font-family: 'Montserrat';font-size: 13px;color: #4A4A4A;line-height: 19px;font-weight: 400;border-right: 1px solid #979797;background: #d8d8d8;height: auto;}
.total-row td {padding: 0px 20px;margin: 0;vertical-align: middle;}
.total-row td table {width: 100%;padding: 0px;margin: 0 auto;background: #fff;vertical-align: middle;border: 1px solid #979797;}
.total-row td table tbody td {padding: 12px 15px;margin: 0;vertical-align: middle;font-family: 'Montserrat';font-size: 13px;color: #4A4A4A;line-height: 19px;font-weight: 400;border-right: 1px solid #979797;}
.total-row td table tbody td p {margin: 0;padding: 0;vertical-align: middle;font-family: 'Montserrat';font-size: 9px;color: #4A4A4A;line-height: 16px;font-weight: 600;}
.bank-details td {padding: 20px;margin: 0;vertical-align: middle;}
.bank-details td table {width: 100%;padding: 0;margin: 0 auto;background: #fff;vertical-align: middle;}
.bank-details td table td {padding: 0;margin: 0;vertical-align: middle;}
.bank-details td table td p {font-family: 'Montserrat';font-size: 13px;color: #4A4A4A;line-height: 19px;font-weight: 600;margin: 0;padding: 0 0 10px 0;vertical-align: middle;margin: 0;}
.bank-details td table td p:first-child {padding: 0 0 20px 0;}
.contact-details td {padding: 0px 20px 20px 20px;margin: 0;vertical-align: middle;}
.contact-details td table {width: 100%;padding: 0px;margin: 0 auto;background: #fff;vertical-align: middle;border: 1px solid #979797;}
.contact-details td table thead th {padding: 12px 15px;margin: 0;vertical-align: middle;font-family: 'Montserrat';font-size: 13px;color: #4A4A4A;line-height: 19px;font-weight: 400;border-bottom: 1px solid #979797;border-right: 1px solid #979797;}
.contact-details td table tbody td {padding: 12px 15px;margin: 0;vertical-align: middle;font-family: 'Montserrat';font-size: 13px;color: #4A4A4A;line-height: 19px;font-weight: 400;border-right: 1px solid #979797;}
.help-row table {width: 100%;padding: 0;margin: 0;}
.help-row table tbody td {width: 100%;text-align: center;padding: 20px 25px;background: #EFEFF5;margin: 0;vertical-align: middle;border-bottom: 5px solid #50E3C2;}
.help-row table tbody td p {font-family: 'Montserrat';font-size: 12.5px;color: #000;line-height: 19px;font-weight: 300;padding: 0;vertical-align: middle;margin: 0;}
.table-footer td {padding: 20px;margin: 0;vertical-align: middle;background: #000;}
.table-footer td table {width: 100%;padding: 30px 25px;margin: 0;text-align: center;}
.table-footer td table td {padding: 0 0 20px 0;margin: 0;vertical-align: middle;text-align: center;}
.table-footer td table td a {padding: 0 5px;margin: 0;display: inline-block;vertical-align: middle;}
.table-footer td table td a img {vertical-align: middle;padding: 0;margin: 0;}
.table-footer td table td p {text-align: center;font-family: 'Montserrat';font-size: 12.5px;color: #fff;line-height: 19px;font-weight: 300;padding: 0;vertical-align: middle;margin: 0;}
.table-footer td table tr:last-child td {padding-bottom: 0;}
/* pdf-css */

/* Calender */
.ui-datepicker-calendar-container span.ui-state-default.ui-state-disabled .cal-dis-btn{
    color: white;
    background-color: black;
}




/***media start here  **/
@media(max-width:1169px){
    .blue .topbar .navbar-header .navbar-brand img {
    margin-top: 10px;
}
}
@media (min-width:768px){
    .topbar ul.dropdown-user {min-width: 300px !important;}
    .card_one_data .cars-dtl-box-inr b {position: absolute;left: 0;top: 0;margin: 0;height: 100%;padding: 0;display: flex;align-items: center;justify-content: flex-end;padding-right: 10px;}
    .card_one_data .cars-dtl-box-inr {position: relative;padding: 0;min-height: 44px;padding-left: 190px;display: flex;align-items: center;flex-wrap: wrap;}
    .card_one_data .cars-dtl-box-inr label {margin: 0;}
    .card_one_data .cars-dtl-box-inr span {display: flex;width: 100%;flex-wrap: wrap;align-items: center;}
    .card_one_data .cars-dtl-box-inr span label {margin-left: 10px;}
   
}

@media(max-width:1460px){
    .dataTables_wrapper { overflow:auto;}
    .dataTables_wrapper .table.dataTable { min-width:1300px;}
    table.dataTable thead th, table.dataTable thead td {padding:7px !important;}
    table.dataTable {font-size: 14px;}
}

@media(max-width:1199px){
    .terms-detail-box2,
    .terms-detail-box{ max-height:242px;}
    .terms-detail-box.terms_100 {max-height: 100%;}
}

@media (min-width:768px) and (max-width:991px){
    .card_cstm .form-group .terms-detail-box {padding: 10px;box-sizing: border-box;margin: 0;border: 1px solid #c8c8c8;    border-bottom: 0;}
    .card_cstm .row > div {flex: 0 0 100%;max-width: 100%;}
    .row_grey_one label:after {opacity: 0;}
    .row_grey_one > div:first-child {padding-right: 15px;}
    .row_grey_one label {border-bottom: 0px solid #ced4da;border-right: 1px solid #ced4da;    text-align: left;padding: 7px 10px 8px 12px;}
     body .dataTables_wrapper .dataTables_paginate{float:none; text-align:center; width:100%; clear:both;}
     .dataTables_wrapper .dataTables_info{float:none !important; text-align:center;}
     .breadcrumb-item + .breadcrumb-item {padding-left: 5px;}
}
@media(max-width: 991px){
.form_filter{
    justify-content: flex-start;
    margin-bottom: 15px;
}

}
@media(max-width:767px){
    .login-register {
    position: fixed !important;
}
    .container-fluid {padding:0 15px 25px;}
    table.dataTable {font-size: 13px;}
    .headding-btn-wrap .text-right{ text-align:left !important;}
    .terms-detail-box{padding:15px !important; border: 1px solid #c8c8c8; border-bottom: 0 !important; margin-right:0!important;  }
    .card_cstm .form-group .terms-detail-box {padding: 10px;box-sizing: border-box;margin: 0;border: 1px solid #c8c8c8;    border-bottom: 0;}
    .card_cstm .row > div {flex: 0 0 100%;max-width: 100%;}
    .ui-editor-content ol {padding: 0;}
    .ql-editor {padding: 10px;}
    .card_one_data .cars-dtl-box-inr {border: 1px #eee solid;margin: 0 0 5px;padding: 0;display: block;}
    .card_one_data .cars-dtl-box-inr b {padding: 10px 5px;width: 100%;margin: 0;text-align: left;}
    .card_one_data .cars-dtl-box span {padding: 10px;}
    .cars-dtl-box .cars-dtl-box-inr label {margin-bottom: 0px;}
    .card_one_data .cars-dtl-box h4#blue {margin: 0 !important;padding: 0 0 0 50px;font-size: 14px;min-height: 40px;}
    .card_one_data .cars-dtl-box {margin: 0;}
    body .card_one_data .right_top_image {position: relative;top: 0;right: 0;height: 50px;}
    .m_zero {margin: 10px 0 0 0 !important;}
    #blue.h4_user_img img {height: 40px;position: absolute;}
    .row_grey_one label:after {opacity: 0;}
    .row_grey_one > div:first-child {padding-right: 15px;}
    .row_grey_one label {border-bottom: 0px solid #ced4da;border-right: 1px solid #ced4da;    text-align: left;padding: 7px 10px 8px 12px;}
    .topbar .top-navbar .navbar-header .navbar-brand{    width: 40px; overflow: hidden;}
    #main-wrapper .topbar .top-navbar .navbar-nav > .nav-item.show .dropdown-menu{width: 60% !important;left: auto!important;margin-right: 20px;}
    .ui-dialog.ui-widget.ui-widget-content {
    width: 95% !important;}
    .tax-invoice table .bill-to table td {display: block;float: none;}
    .tax-invoice table .bill-to table td table {width: 100%;margin-bottom: 15px;}
    .tax-invoice.ng-star-inserted {overflow-x: auto;}
    body .ui-datepicker{    padding: 0.257em !important;}
    body .ui-datepicker table td{    padding: 0.5em;    font-size: 11px;}
        .dataTables_wrapper .dataTables_info, body .dataTables_wrapper .dataTables_paginate{
        float: none;
    width: 100%;
    text-align: center;
}
.chartAreaWrapper{
    height: auto !important;
    overflow: auto;
}
.canvas-fixed-width{
    min-width: 900px;
}
.page-titles .breadcrumb li {
    margin-bottom: 5px;
}
.agents-dtl-box span {padding: 10px;display: block;}
.agents-dtl-box>div b{ padding: 8px 10px;margin: 0;width: 100%;text-align: left;}    .agents-dtl-box>div {margin: 0 0 5px; display: block; padding: 0;}
    
}
@media  (max-width: 640px){
    .page-wrapper .dataTables_wrapper .dataTables_length,
    .page-wrapper .dataTables_wrapper .dataTables_filter,
    .page-wrapper  .filter_group{
            float: left;
            text-align: left;
            clear: left;
            margin-left: 0;
    }
 .page-wrapper  .filter_group{
      margin-left: 0 !important;
          margin-top: 15px;
    margin-bottom: 15px;
 }

}
@media(max-width: 575px){
    h4.table-header{
            margin-bottom: 0;
    }
    .custom-add-btn{
        width: 100%;
        margin-bottom: 25px;
        margin-top: 10px;
    }
    .form-group .custom-autocomplete{
            float: none !important;
    }
    body .card_dtl_new .ui-datepicker table td,
    body .card_dtl_new .ui-datepicker table td > a,
    body .card_dtl_new .ui-datepicker table td > span,
    body .card_dtl_new .ui-datepicker table th{
        padding: 0.0em !important;
            font-size: 12px;
    }
    body .card_dtl_new .ui-datepicker{
            padding: 0.857em 0 !important;
        
    }
    .cars-dtl-box-inr b{
            margin-bottom: 0;
        display: block;
        text-align: left;
        margin-right: -10px;
    }
    .cars-dtl-box-inr.card_dtl_new b{
        text-align: left;
    }
    .cars-dtl-box-inr {
    padding: 10px 10px 0px 10px;
}
.cars-dtl-box span {
    line-height: 3;
}
    .filter-wrap{
    margin: 15px 0;
    }
h4.table-header.operation-header{margin-bottom: 30px;}
form.form-inline.form_filter {
    justify-content: left !important;
}
.form_calendar p-calendar > span .ui-datepicker:not(.ui-datepicker-inline){
        margin-left: 0 !important;
    left: 0 !important;
}
    button.btn.btn-primary.custom-add-btn.cancellation-btn{
            font-size: 0 !important;
            min-width: 35px;
            margin-top: 4px;
    }
    button.btn.btn-primary.custom-add-btn.cancellation-btn i{
            font-size: 13px;
    }
    .ui-g div {
    padding: 9px 0;
    font-size: 14px;
}
.no-retal-panel {
    width: 68% !important;
    top: 50%;
        margin-left: 17%;
}
}
@media(max-width: 564px){
body .dataTables_wrapper .dataTables_paginate{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
} 
}
@media(max-width: 560px){
    body .dataTables_wrapper .dataTables_paginate{
        border: none;
    }
    body .dataTables_wrapper .dataTables_paginate .paginate_button,
    .dataTables_wrapper .dataTables_paginate .ellipsis{
    padding: 9px 5px 2px 8px!important;
    line-height: 10px !important;
    height: 30px;
    }

body .dataTables_wrapper .dataTables_paginate > span .paginate_button ,
.dataTables_wrapper .dataTables_paginate .ellipsis
{
    width: 30px;
    height: 30px;
    line-height: 10px !important;
    min-width: inherit !important;
    display: inline-block;
    vertical-align: middle;
   
}
body .dataTables_wrapper .dataTables_paginate .paginate_button{
    display: inline-block;
    vertical-align: middle;
}
body .dataTables_wrapper .dataTables_paginate .paginate_button,
.dataTables_wrapper .dataTables_paginate .ellipsis,
body .dataTables_wrapper .dataTables_paginate .paginate_button.last{
       border: 1px solid #ddd !important; 
}

}
@media(max-width: 450px){
    .login-box{
            width: 90% !important;
    }

}
@media(max-width:449px){
    .agents-dtl-box span {padding: 10px;display: block;}
    .agents-dtl-box>div b{ padding: 8px 10px;margin: 0;width: 100%;text-align: left;}    .agents-dtl-box>div {margin: 0 0 5px; display: block; padding: 0;}
     .form_filter .filter-wrap p-calendar > span > input{
    width: 230px;
    padding: 7px 8px 8px 8px !important;
    }
     .form_filter .filter-wrap  p-calendar {
         margin-left: 0;}
    #main-wrapper .topbar .top-navbar .navbar-nav > .nav-item.show .dropdown-menu{width: 80% !important;}
}

@media(max-width:360px){
    button.btn.btn-primary.custom-add-btn.cancellation-btn{
            margin-left: -15px;
    }

}
@media(max-width:698px){
    .Invoice-table {
    overflow: scroll;
}
}