/* You can add global styles to this file, and also import other style files */

@import '~perfect-scrollbar/css/perfect-scrollbar.css';

.ps .ps__scrollbar-y-rail {
    left: 3px;
    right: auto;
}

body {color: #67757c; font-weight: 300; font-size: 1rem;}


.dataTables_length, .dataTables_filter{ margin:0 0 20px;}
.dataTables_filter label{font-size:14px; color:#666; text-transform: capitalize; font-weight:400; letter-spacing:.1em; margin:0;}
.dataTables_filter input{border: unset; border-bottom: 1px solid #666; color:#666; background: #fff; padding: 5px; line-height: 20px;}
.dataTables_length label{font-size:14px; color: #666; text-transform: capitalize; font-weight:400; letter-spacing:.1em; margin:0; line-height:32px;}
.dataTables_length select{ margin:0 5px; padding:4px 6px; line-height:20px; color:#666;border: unset;border-bottom: 1px solid #666;}
.dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_paginate{ color:#666;}


.dropdown-toggle::after {vertical-align: middle !important;}
.btn-primary, 
.btn-primary.disabled {background: #1976d2 !important; border: 1px solid #1976d2 !important;}
/* .btn {padding:5px 10px !important; line-height:18px !important; font-size: 14px !important; border-radius:3px !important; text-transform: uppercase !important; } */
.btn i{ vertical-align:middle; margin-right:4px;}
/* body .dataTables_wrapper .dataTables_paginate .paginate_button {padding: 10px 15px 8px !important; line-height: 20px;}
body .dataTables_wrapper .dataTables_paginate .paginate_button.current, 
body .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover { color: #fff !important; border: 1px solid #1976d2; background-color:white !important; background:#1976d2 !important;}
html body .dataTables_wrapper .dataTables_paginate .paginate_button:hover,
html body .dataTables_wrapper .dataTables_paginate .paginate_button:active{background:#1976d2 !important; border:1px solid #1976d2 !important; box-shadow:none !important;}
body .dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
body .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
body .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {color: #666 !important; background:#fff !important; opacity:.8; border: 1px solid #eee !important; font-size: 13px; font-weight: 400; letter-spacing: .08em; text-transform: uppercase; line-height:20px;}
body .dataTables_wrapper .dataTables_info {font-size:13px; font-weight:400; padding:20px 0 0; line-height:40px;}
.dataTables_wrapper .dataTables_paginate {padding:20px 0 0 !important;}
.dataTables_length select { border: unset;border-bottom: 1px solid #666 !important;} */

.modal-dialog {max-width:640px !important;}
.modal-content {border:0 !important; border-radius:0 !important; margin-top: 25%;}
.modal-header{font-size:18px; border-radius:0 !important; text-transform:capitalize; font-weight: 500; letter-spacing: .08em; color:#fff !important; background:#1976d2;}

.form-group label{font-size:13px; letter-spacing:.08em; color:#333; text-transform:capitalize; margin:0 0 5px;}
.form-control{padding:7px 10px 8px 12px !important; font-size:13px !important; letter-spacing:.08em !important; border-radius:0 !important; color:#666 !important;}
.close {color: #fff !important; text-shadow:none !important; opacity:.8 !important;}
.form-control:focus {background-color: #ffffff!important;border-color: #1976d2!important;outline: 0;box-shadow: 0 0 0 0.05rem rgba(25, 118, 210, 0.39)!important;}
.custom-btn{
    width: 90px;
    display: inline-block;
    margin-right: 15px;
    border: none;
    padding: 8px 12px;
    color: #fff !important;
}
.loading-btn{
    display: inline-block;
    margin-right: 15px;
    border: none;
    padding: 8px 12px;
    color: #fff !important;
}
.custom-control-label::after,
.custom-control-label::before {top:0 !important;}
.custom-radio-wrap .custom-radio{ display:inline-block; vertical-align:top; margin:0 15px 0 0;}
.custom-control-input:checked ~ .custom-control-label::before,
.custom-radio .custom-control-input:checked ~ .custom-control-label::before {background-color: #1976d2 !important;}
label.custom-control-label{ line-height:16px; color:#666;}
body .ui-dialog .ui-dialog-titlebar {border:0 !important; color: #fff !important; background: #1976d2 !important; font-size: 16px !important; font-weight: 700 !important; text-transform: capitalize !important; letter-spacing: .08em !important;}
body .ui-corner-all {border-radius:0 !important;}
body .ui-corner-top{ border-radius:0 !important;}
.dropdown-item:hover,
.dropdown-item:focus {color: #ffffff !important; background-color: #1976d2 !important;}


.agents-dtl-box {max-width: 50%;display: block;width: 100%; margin:-45px 0 0 15px; }
.agents-dtl-box>div {border: 1px solid #eee;margin: 0 0 5px;display: block;padding: 10px;}
.agents-dtl-box>div b {margin: -10px 20px -10px -10px;background: #f6f6f6;display: inline-block;vertical-align: top;padding: 13px 10px 12px;min-width: 170px;text-align: right;font-size: 13px;color: #666;text-transform: capitalize;letter-spacing: .05em;font-weight: 500;}
.agents-dtl-box span {font-size: 13px; color: #333; font-weight: 400; letter-spacing: .04em;}

.cars-dtl-box { display: block;width: 100%; margin:-45px 0 0 0; }
.cars-dtl-box-inr {border: 1px #eee solid;margin: 0 0 5px;padding: 10px;display: block;}
.cars-dtl-box-inr b{margin: -10px 20px -10px -10px;background: #f6f6f6;display: inline-block;vertical-align: top;padding: 13px 10px 12px;min-width: 170px;text-align: right;font-size: 13px;color: #666;text-transform: capitalize;letter-spacing: .05em;font-weight: 500;}
.cars-dtl-box span {font-size: 13px; color: #333; font-weight: 400; letter-spacing: .04em;}

.ui-confirmdialog.ui-dialog .ui-dialog-content{ border:0 !important }
body .ui-dialog .ui-dialog-footer {border: 0 !important; border-top: 1px solid #eee !important;}
body .ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-icon {color: #fff !important;}
body .ui-dialog .ui-dialog-footer{ text-align:center !important; }
.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus{ box-shadow: none !important;}
.modal-title{ color:#fff; }
.dropdown-menu{ font-size:13px !important;}
input#checkbox-signup { margin-right: 5px;}
div#DataTables_Table_0_paginate {text-transform: capitalize; font-size: 13px;}
.ui-confirmdialog.ui-dialog .ui-dialog-content {padding: 2em 2em !important;}
h4.table-header {color: #5c5c5c;text-transform: capitalize;font-weight: 400;margin-bottom: 30px;}
li.breadcrumb-item {font-weight: 400;}
.ui-confirmdialog-icon{ color: red}
#blue{ color: #5c5c5c;text-transform: capitalize;font-weight: 400;margin-bottom: 48px;}
.ui-toast-top-right {top: 60px !important;}
h4.text-themecolor.m-b-0 {text-transform: capitalize;}
.no-data-available {text-align: center;}
.dataTables_empty {display: none;}
.mt-45{ margin-top: 45px!important;}
.mb-45{ margin-bottom: 45px!important;}
.mt-20{ margin-top: 20px!important;}
.mb-20{ margin-bottom: 20px!important;}


table.dataTable{ margin:0 auto 25px !important;}
table.dataTable thead th,
table.dataTable thead td,
table.dataTable tbody th { color:#5c5c5c; background: #e9e9eb;}
table.dataTable thead th, 
table.dataTable thead td {padding:.75rem !important; border: 0 !important; font-weight: 500 !important;}
table.dataTable tbody td {border:0 !important; vertical-align:middle; padding:25px 10px !important; border-top: 1px solid #f3f1f1 !important;  color:#67757c;}
.table-striped tbody tr:nth-of-type(odd) {background: transparent !important;}
.table-striped tbody tr:nth-of-type(even){background: #f2f4f8;}
table.dataTable.no-footer {border-bottom: 0 !important;}
.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {color: #636c72;}
body .dataTables_wrapper .dataTables_paginate {float: right; text-align: right; padding-top: 0 !important; border: 1px solid #ddd; border-radius: 4px; font-size: 13px;}
body .dataTables_wrapper .dataTables_paginate .paginate_button {border:0 !important; display: inline-block;min-width: 1.5em;padding:10px .75rem !important; margin:0 !important;  text-align: center;text-decoration: none !important;cursor: pointer;color: #636c72 !important; border-radius:0 !important;border-right: 1px solid #ddd !important; line-height: 18px !important; min-width:32px !important;}
body .dataTables_wrapper .dataTables_paginate .paginate_button:hover,
body .dataTables_wrapper .dataTables_paginate .paginate_button.current,
body .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover { color:#fff !important; background:#1976d2 !important;}

body .dataTables_wrapper .dataTables_paginate .paginate_button.last {border-right:0 !important; border-radius:0 4px 4px 0 !important;}
body .dataTables_wrapper .dataTables_paginate .paginate_button.first { border-radius:4px 0 0 4px !important;}

body .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover{ background:#fff !important; color:#636c72 !important; }
body .paginate_button.disabled{ opacity:.5 ;}
.dataTables_wrapper .dataTables_info {line-height:38px;}
table.table.dataTable  tbody tr:hover{background:#f2f4f8 !important;}

table.dataTable thead .sorting{ background-image:url(/assets/images/sorting.png) !important;}
table.dataTable thead .sorting_asc{background-image:url(/assets/images/sorting_asc.png) !important;}
table.dataTable thead .sorting_desc{background-image:url(/assets/images/sorting_desc.png) !important;}
.dropdown-menu{ min-width:100px !important;}
.table-responsive {overflow-x: initial !important;}
body table.dataTable thead .disabled{ background-image:none !important}
.blue .topbar .navbar-header {padding: 5px 0px;margin-bottom: -1px; margin-top: -1px;}
.blue .topbar .navbar-header .navbar-brand img{width: 180px;}
/* .black-overlay{ background-color:rgb(25, 118, 210,.7) !important;} */
/* .la-ball-spin-clockwise.la-3x{ width:70px !important; height:70px !important;} */

span.hide-menu { padding-left: 15px;}
a#to-recover:hover, 
a#to-recover:focus { color: #1976d2!important }

.login-box{width: 450px !important; margin: 110px auto !important;}
span.filter_by {color: #5c5c5c; font-weight: 400; }
button.btn.btn-outline-secondary.datepicker_button{ background-color: #e9e9eb;border-color: #ced4da; box-shadow: 0px;box-shadow: initial;}
button.btn.btn-outline-secondary.datepicker_button:hover,
button.btn.btn-outline-secondary.datepicker_button:active,
button.btn.btn-outline-secondary.datepicker_button:focus{background-color: #1976d2!important ;border-color: #1976d2!important;color: white!important; box-shadow: 0 14px 26px -12px rgba(169, 169, 169, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(169, 169, 169, 0.2);}  
.btn-link{color: #1976d2 !important}
.ngb-dp-weekday[_ngcontent-c10], .ngb-dp-week-number[_ngcontent-c10]{font-style: normal !important;}
.btn-light:not(:disabled):not(.disabled):active, 
.btn-light:not(:disabled):not(.disabled).active, 
.show > .btn-light.dropdown-toggle {background-color: #1976d2 !important;border-color: #1976d2 !important;color: #fff !important}
.btn-light:not(:disabled):not(.disabled):hover, 
.btn-light:not(:disabled):not(.disabled).hover, 
.btn-light:not(:disabled):not(.disabled):focus, 
.btn-light:not(:disabled):not(.disabled).focus, 
.show > .btn-light.dropdown-toggle {background-color: #e9e9eb  !important;border-color: #e9e9eb  !important;color: #6c757d !important}